<div class="mBanner">
	<img class="banner_img" src="http://h5res.appskyx.com/allgame/ICON/shuishangjiuyuan/iconbannersm.jpg">
	<div class="detail">
		<div class="name">Boxing King</div>
		<div class="detail2">Boxing King Boxing King Boxing Boxing Boxingng King Boxing Boxing Boxing ...</div>
	</div>
</div>
<style>
	.mBanner{
		margin: 0 0.267rem;
		border: 1px solid #ccc;
		border-radius: 10px;
		color:#666;
	}
	.mBanner .banner_img{
		border-radius: 10px;
		width: 100%;
	}
	.mBanner .detail{
		margin: 0.267rem;
	}
	.mBanner .name{
		font-weight: 700;
	}
	.mBanner .detail2{
		margin-left:0.4rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis
	}
</style>