<div class="m_scrollCell">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<p class="game_type">action</p>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<p class="game_type">action</p>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<p class="game_type">action</p>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six six six six six </p>
						<p class="game_type">action</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var swiper2 = new Swiper('.m_scrollCell .swiper-container', {
		autoplay: false,
		slidesPerView: 2,
		//      spaceBetween: 5
	});
</script>
<style type="text/css">
	.m_scrollCell {
		font-size: 0.32rem;
		margin: 0.3125rem 0;
	}

	.m_scrollCell .swiper-container {
		width: 100%;
		overflow-y: visible;
	}

	.m_scrollCell .swiper-wrapper .swiper-slide {
		padding: 3px 0 0;
	}

	.m_scrollCell .swiper-wrapper .swiper-slide a {
	/* 	margin-right: 0.4rem;
		margin-left:0.2rem; */
		margin:0 0.133rem;
		padding: 0.2rem 0.4rem;
		color: #666;
		font-size: 0.32rem;
		box-sizing: border-box;
		background: rgb(251, 226, 226);
		position: relative;
		display: block;
		border-radius: 0.3125rem;
	}
	/* .m_scrollCell .swiper-wrapper .swiper-slide:first-of-type a{
		margin-left: 0.4rem;
		margin-right: 0.2rem;
	} */
/* 	.m_scrollCell .swiper-wrapper{
		padding-left:10px;
	} */
	
.m_scrollCell .swiper-wrapper .swiper-slide:nth-of-type(1) a{
	/* margin-left: 0.6rem; */
}

	.m_scrollCell .swiper-wrapper .swiper-slide:nth-of-type(2n) a {
		background:rgb(243, 224, 170);
		
	}

	.m_scrollCell .swiper-wrapper .swiper-slide a .game_name {
		font-size: 0.427rem;
		width:1.6rem;
		margin-top:4px;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		margin-bottom: 0.1rem;
	}
	.m_scrollCell .swiper-wrapper .swiper-slide a .game_type {
		width:2.4rem;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;

	}
	.m_scrollCell .swiper-wrapper .swiper-slide a{
		display: flex;
	}
	.m_scrollCell .swiper-wrapper .swiper-slide a img {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 5px;
	}
	.m_scrollCell .swiper-wrapper .swiper-slide a .game_info{
		padding:0 0 0 0.2rem;
	}
</style>