<div class="m_scrollCell2">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<div class="game_score">
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star2.png" />
						</div>
						<div class="play">
							Play
						</div>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<div class="game_score">
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star2.png" />
						</div>
						<div class="play">
							Play
						</div>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<div class="game_score">
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star2.png" />
						</div>
						<div class="play">
							Play
						</div>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<div class="game_score">
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star2.png" />
						</div>
						<div class="play">
							Play
						</div>
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/csyx/icon160.jpg" />
					<div class="game_info">
						<p class="game_name">six</p>
						<div class="game_score">
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star1.png" />
							<img src="./img/star2.png" />
						</div>
						<div class="play">
							Play
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var swiper2 = new Swiper('.m_scrollCell2 .swiper-container', {
		autoplay: false,
		slidesPerView:4,
		//      spaceBetween: 5
	});
</script>
<style type="text/css">
	.m_scrollCell2 {
		font-size: 0.373rem;
		margin: 0.3125rem 0;
	}

	.m_scrollCell2 .swiper-container {
		width: 100%;
		overflow-y: visible;
	}

	.m_scrollCell2 .swiper-wrapper .swiper-slide a {
		margin: 0 0.1rem;
		padding: 0.2rem 0rem;
		color: #666;
		min-height: 2rem;
		text-align: center;
		box-sizing: border-box;
		position: relative;
		display: block;
		border-radius: 0.3125rem;
	}

	/*.m_scrollCell2 .swiper-wrapper .swiper-slide:nth-of-type(2n) {
		margin-top: 0.4rem;
	}*/

	.m_scrollCell2 .swiper-wrapper .swiper-slide a .game_name {
		font-size: 0.427rem;
		width:2.4rem;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.m_scrollCell2 .swiper-wrapper .swiper-slide a .game_type {
		width:2.4rem;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;

	}
	.m_scrollCell2 .swiper-wrapper .swiper-slide a img {
		width: 1.9rem;
		border-radius: 15px;
	}
	.m_scrollCell2 .swiper-wrapper .swiper-slide a .game_score img{
		width: 0.267rem;
		margin-right:-4px;
	}
	.m_scrollCell2 .swiper-wrapper .swiper-slide a .play{
		color:#e63e3e;
		display: inline-block;
		line-height: 0.427rem;
		height: 0.523rem;
		padding:0 0.213rem;
		border-radius: 5px;
		background: rgb(247, 216, 216);
	}
	.m_scrollCell2 .game_score{
		margin:-2px 0 0;
		}
</style>