<div class="mTopGames">
	<div class="header_title">
		Top Games 
	</div>
	<div class="list">
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
		<a class="game_item" href="" target="_self">
			<div class="item_left">
				<img src="http://h5res.appskyx.com/allgame/ICON/ydqw/icon90.jpg">
			</div>
			<div class="item_center">
				<p class="title">Boxing King</p>
				<div class="socre">
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star1.png" />
					<img src="./img/star2.png" />
				</div>
				<div class="play">
					<span class="play_num">115693</span> plays
				</div>
			</div>
			<div class="item_right">
				<span class="play_btn">PLAY</span>
			</div>
		</a>
	</div>	
</div>
<style type="text/css">
	.mTopGames .header_title{
		font-size:0.373rem;
		position: relative;
		margin:0 10px;
		color: #666;
		padding-bottom:0.133rem;
		border-bottom:1px solid #ccc;
	}
	.mTopGames .header_title .more{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform:translateY(-50%);
	}
	.mTopGames .header_title .more img{
		width:25px;
	}
	.mTopGames .list{
		margin:0.267rem 0.267rem;
		
	}
	.mTopGames .list .game_item{
		display: block;
		position: relative;
		margin:0.533rem 0;
	}
	.mTopGames .item_left{
		position: absolute;
		left: 0;
	}
	.mTopGames .item_left img{
		width:1.6rem;
	}
	.mTopGames .item_center{
		margin: 0 1.8rem;
	}
	.mTopGames .item_center .title{
		font-weight: 700;
	    font-size: 0.3467rem;
		color: #666;
	}
	.mTopGames .item_center .socre {
		margin: 0.133rem 0 0;
	}
	.mTopGames .item_center .socre img{
		width: 0.4rem;
		margin-right: -3px;
	}
	.mTopGames .item_center .play{
		color:rgba(68, 68, 68, 0.6);
	}
	.mTopGames .item_center .play_num{
		color:#e8901f;
	}
	.mTopGames .item_right{
		position: absolute;
		right: 0.15625rem;
		top: 0.3467rem;
	}
	.mTopGames .item_right .play_btn{
		background: rgb(215,247,215);
		color: rgb(22,154,52);
		box-shadow: 0 1px 4px #c2c2c2;
		width: 1rem;
		height: 0.6875rem;
		border-radius: 15px;
		padding: 0 0.3125rem;
		display: inline-block;
		text-align: center;
		line-height: 0.6875rem;
		font-size: 0.3467rem;
	}
</style>
