<div class="m_game_explain">
	<h3 class="title">Description</h3>
	<p class="content">
		&nbsp;&nbsp;&nbsp;Transformers race start it! Using a variety of deformation props, change the ability of
		vehicles, speed beyond, rampage Come experience this passion moment!
	</p>
</div>
<style type="text/css">
	.m_game_explain {
		margin: 0 0.15625rem 0.3125rem;
		color: #666;
		background: #fff;
		border-radius: 0.15625rem;
		padding: 0.25rem 0.3125rem 0.27rem;
		font-size: 0.4375rem;
	}

	.m_game_explain p {
		margin: 0.15625rem 0;
		font-size: 0.375rem;
		/*text-align: justify;*/
	}

	.m_game_explain .title {
		color: #333;
		font-size: 0.4375rem;
		margin-bottom: 0.2rem;
		font-weight: 500;
	}

	.m_game_explain .content {
		font-size: 0.34rem;
		min-height: 64px;
		word-break: break-all;
	}
</style>