<div class="mIndexBestOfWeek">
    <div class="title">
        <p>
            Best of The Week
        </p>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a class="swiper-slide" href="">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/jumpingninjas/icon160.jpg">
                <div class="info">
                    <p class="name">ben 10 yes</p>
                    <p class="subName">kai qiuiu pao</p>
                </div>
            </a>
            <a class="swiper-slide" href="">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/jumpingninjas/icon160.jpg">
                <div class="info">
                    <p class="name">ben 10 yes</p>
                    <p class="subName">kai qiuiu pao</p>
                </div>
            </a>
            <a class="swiper-slide" href="">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/jumpingninjas/icon160.jpg">
                <div class="info">
                    <p class="name">ben 10 yes</p>
                    <p class="subName">kai qiuiu pao</p>
                </div>
            </a>
            <a class="swiper-slide" href="">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/jumpingninjas/icon160.jpg">
                <div class="info">
                    <p class="name">ben 10 yes</p>
                    <p class="subName">kai qiuiu pao</p>
                </div>
            </a>
            <a class="swiper-slide" href="">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/jumpingninjas/icon160.jpg">
                <div class="info">
                    <p class="name">ben 10 yes</p>
                    <p class="subName">kai qiuiu pao</p>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
    .mIndexBestOfWeek {
        margin-top: 10px;
        padding: 10px 0;
        background: #fff;
        font-family: SourceHanSansSC;
    }

    .mIndexBestOfWeek .title {
        color: rgb(16, 16, 16);
        font-size: 14px;
        font-weight: 700;
        padding-left: 10px;
    }

    .mIndexBestOfWeek .swiper-container {
        margin-top: 0.2rem;
    }

    .mIndexBestOfWeek .swiper-wrapper {
        padding-left: 10px;
        color: #fff;
    }


    .mIndexBestOfWeek .swiper-slide .icon {
        width: 100%;
        display: block;
    }

    .mIndexBestOfWeek .swiper-slide .info {
        color: #fff;
        margin-top: -1px;
        padding: 5px;
        font-size: 14px;
    }

    .mIndexBestOfWeek .swiper-slide:nth-of-type(4n+1) .info {
        background: rgb(25, 121, 112);
    }

    .mIndexBestOfWeek .swiper-slide:nth-of-type(4n+2) .info {
        background: rgb(89, 59, 16);
    }

    .mIndexBestOfWeek .swiper-slide:nth-of-type(4n+3) .info {
        background: rgb(102, 48, 50);
    }

    .mIndexBestOfWeek .swiper-slide:nth-of-type(4n) .info {
        background: rgb(31, 85, 138);
    }

    .mIndexBestOfWeek .swiper-slide .info .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .mIndexBestOfWeek .swiper-slide .info .subName {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<script>
    var mIndexBestOfWeekSwiper = new Swiper('.mIndexBestOfWeek .swiper-container', {
        slidesPerView: 3.5,
        spaceBetween: 20
    });
</script>