<div class="m_scroll_super">
	<div class="title">
		<p>SUPER GAMES</p>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/shuishangjiuyuan/iconbannersm.jpg" />
					<p class="game_name">six six six six six six</p>
					<div class="score">
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star4.png" />
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/shuishangjiuyuan/iconbannersm.jpg" />
					<p class="game_name">six</p>
					<div class="score">
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star4.png" />
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/shuishangjiuyuan/iconbannersm.jpg" />
					<p class="game_name">six</p>
					<div class="score">
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star4.png" />
					</div>
				</a>
			</div>
			<div class="swiper-slide">
				<a href="">
					<img class="game" src="http://h5res.appskyx.com/allgame/ICON/shuishangjiuyuan/iconbannersm.jpg" />
					<p class="game_name">six</p>
					<div class="score">
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star3.png" />
						<img src="img/star4.png" />
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var scrollSuper = new Swiper('.m_scroll_super .swiper-container', {
		autoplay: false,
		slidesPerView: 3,
		loopAdditionalSlides: 3,
		loop: true
	});
	$(".icon-five-star").each(function () {
		var star = Math.round(Math.random());
		if (star > 0.5) {
			$(this).addClass("icon-xingxing");
		} else {
			$(this).addClass("icon-pingxing2");
		}
	});
</script>
<style type="text/css">
	.m_scroll_super {
		font-size: 0.32rem;
		position: relative;
		margin-bottom: 2.2rem;
	}

	.m_scroll_super .title {
		background: rgb(239, 3, 44);
		color: #fff;
		font-size: 0.427rem;
		text-align: center;
		padding: 0.4rem 2rem 2rem;
	}

	.m_scroll_super .swiper-container {
		position: absolute;
		width: 100%;
		left: 0;
		top: 1.2rem;
		z-index: 2;
	}

	.m_scroll_super .swiper-wrapper .swiper-slide a {
		padding: 0 0.1rem;
		box-sizing: border-box;
		text-align: center;
		display: block;
	}

	.m_scroll_super .swiper-wrapper .swiper-slide:nth-of-type(2n+1) {
		margin-top: 0.8rem;
	}

	.m_scroll_super .swiper-wrapper .swiper-slide a img {
		width: 100%;
		border-radius: 0.3125rem;
	}

	.m_scroll_super .swiper-wrapper .swiper-slide a .game {
		box-shadow: #666 1px 2px 3px;
	}

	.m_scroll_super .swiper-wrapper .swiper-slide a .game_name {
		padding: 0 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.m_scroll_super .swiper-wrapper .swiper-slide a .score img {
		margin: 0 -2px 0;
		width: 0.33rem;
	}
</style>