.m-header{
    border-top:3px solid #009a61;
    height:50px;
    background:#fafafa;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
}
.m-header .nav{
    width:900px;
    margin:0 auto;
}
.m-header span{
    line-height: 50px;
}
.m-header a{
    color:grey;
    text-decoration:none;
}
.m-header .user{
    float:right;
}
.m-header .right-link{
    float:right;
}