<div class="m_footer">
	<div class="top">
		<img class="game_icon" src="./img/game.png" /> Game
	</div>
	<div class="middle">
		Notice:the content is provided by the content developer . If there are any objections, please give us the
		original proof and we will remove it after verification.
	</div>
</div>

<style type="text/css">
	.m_footer {
		padding: 0.375rem 0 0;
	}

	.m_footer .top {
		/*font-size:0.40625rem;*/
		text-align: center;
	}

	.m_footer .game_icon {
		width: 20px;
		vertical-align: middle;
	}

	.m_footer .middle {
		color: #999;
		/*line-height: 0.40625rem;*/
		font-size: 0.32rem;
		text-align: center;
		padding: 0.1875rem 0.3rem 0.625rem;
	}
</style>