<div id="gameContent" class="hasBottomAd">
	<div id="gameBox">
		<div id="gameFrameBox"></div>
		<div id="bottomAds"></div>
	</div>
	<div id="adContainer">
	</div>
	<div class="adBg"></div>
</div>

<!-- <button id="playButton">button</button> -->
<style type="text/css">
	#myBig2 {
		position: relative;
		width: 100%;
		height: 100%;
		display: none;
	}

	#gameContent {
		width: 100%;
		height: 100%;
	}

	#gameContent #gameFrameBox {
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	#gameContent.hasBottomAd #gameFrameBox {
		bottom: 50px;
	}

	#gameContent #bottomAds {
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0;
		display: none;
	}

	#gameContent.hasBottomAd #bottomAds {
		display: block;
	}

	#gameContent iframe,
	#gameContent object {
		width: 100%;
		height: 100%;
	}

	#adContainer,
	.adBg {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.adBg {
		z-index: 99;
		background: #00547c;
	}
</style>

<script type="text/javascript" src="./js/ads.js"></script>
<script type="text/javascript">
	$(function () {
		setTimeout(function () {
			loadGame()
		}, 5000);


		var $fl_button = $(".play_btn");
		var $myBig2 = $("#myBig2");
		var $myBig = $("#myBig");
		var gameURL = "http://h5res.appskyx.com/allgame/motoxmbikeracegame/index.html";

		$myBig2.show();
		$myBig.hide();
	});
	$.loadAds({
		afg_channel_id: "9939008271",
		afg_clientpub: "ca-games-pub-1176349956374677"
	});

	function syscheck() {
		var u = navigator.userAgent;
		var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
		var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
		if (isIOS) {
			return 1;
		} else return 0;

	}

	function loadGame() {
		var gameframe = $("#gameFrameBox").find("#gameframe");
		if (gameframe.length <= 0) {
			var isIOS = syscheck();
			if (isIOS) {
				$("#gameFrameBox").append("<object id='gameframe' data=" + gameURL +
					" class='iframe'  name='cpframe' frameborder='0'></object>")
			} else {
				$("#gameFrameBox").append("<iframe id='gameframe' src=" + gameURL +
					" class='iframe' scrolling='no' name='cpframe' frameborder='0'></iframe>")
			}
		}
	}
</script>