<div class="mGame2Detail">
    <style>
        .bg_5 {
            background: #fff;
        }

        .m_banner .banner {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 5rem;
        }


        .mGame2Detail .game_Info_import {
            background: #fff;
        }

        .mGame2Detail {
            /* margin-top: -0.8rem; */
        }

        .mGame2Detail .swiper-container {
            margin-top: -0.8rem;
            padding: 0 0 1px;
        }

        .mGame2Detail .swiper-slide {
            background: #fff;
            border-radius: 0.133rem;
            display: flex;
            position: relative;
            padding: 0.5rem 0.133rem;
            height: 2.88rem;
            box-shadow: rgb(208, 208, 208) 0px 4px 4px;
        }

        .mGame2Detail .swiper-slide .icon_Box {
            padding-left: 0.267rem;
            line-height: 2.133rem;
        }

        .mGame2Detail .swiper-slide .icon {
            width: 2rem;
            border-radius: 0.133rem;
            vertical-align: middle;
        }

        .mGame2Detail .swiper-slide .game_info {
            margin-left: 0.267rem;
            padding: 0.133rem;
            position: relative;
        }

        .mGame2Detail .game_info .game_name {
            font-size: 0.533rem;
            color: rgb(44, 44, 44);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 3.467rem;
        }

        .mGame2Detail .swiper-slide .game_info .game_score {
            margin: 0.133rem 0;
            min-height: 0.107rem;
        }

        .mGame2Detail .swiper-slide .game_info .game_score img {
            width: 0.32rem;
            margin-right: -0.08rem;
            display: inline-block;
        }

        .mGame2Detail .swiper-slide .game_info .game_play {
            font-size: 12px;
            font-weight: 500;
            color: rgb(149, 149, 149);
            font-family: Poppins, sans-serif;
        }

        .mGame2Detail .swiper-slide .game_info .description {
            display: none;
        }

        .mGame2Detail .swiper-slide .favorite {
            position: absolute;
            top: 0.4rem;
            right: 0.4rem;
            width: 0.533rem;

        }

        .mGame2Detail .item {
            padding: 0 0.133rem 8px;
        }

        .slick-slide:focus {
            outline: none;
        }

        /* .mGame2Detail .swiper-slide:not(.swiper-slide-active) {
                transform: scale(0.95);
                -webkit-transform: scale(0.95);
            } */

        #m_description {
            margin: 0.18rem 0.133rem 0;
            background: #fff;
            padding: 0.267rem;
        }

        #m_description .d_title {
            font-size: 0.427rem;
            color: #303030;
            margin-bottom: 0.107rem;
        }

        .pc #m_description {
            margin: 0.267rem 0;
        }

        #m_description .description {
            font-size: 0.373rem;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            text-indent: 0.5rem;
        }

        #m_description .description.show_over {
            overflow: hidden;

            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    </style>
    <div class="game_Info_import">
        <div class="m_banner">
            <div class="banner">
            </div>
        </div>
        <div id="m_game_scroll" class="swiper-container">
            <div class="multiple-items swiper-wrapper">
                <div class="item">
                    <div class="swiper-slide">
                        <div class="icon_Box">
                            <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wsjzzz/icon160.jpg">
                        </div>

                        <div class="game_info">
                            <h4 class="game_name" data-id="10004" data-url="http://127.0.0.1:5500/game2.html#1"
                                data-gameUrl="http://h5res.appskyx.com/allgame/feesoeed/index.html">Six
                                0</h4>
                            <div class="game_score">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                            </div>
                            <div class="game_play">
                                132.2K plays
                            </div>
                            <div class="banner"
                                data-url="http://h5res.appskyx.com/allgame/ICON/xiaokonglongmaoxian/iconbanner.jpg">
                            </div>
                            <div class="description">
                                0,Transformers race start it! Using a variety of deformation props, change the ability
                                of
                                vehicles, speed
                                beyond, rampage Come experience this passion moment!
                            </div>
                        </div>
                        <img class="favorite favorite_img" data-active="0" src="./img/heart.png" />
                    </div>
                </div>
                <div class="item">
                    <div class="swiper-slide">
                        <div class="icon_Box">
                            <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/huochairendaqiao/icon160.jpg">
                        </div>
                        <div class="game_info">
                            <h4 class="game_name" data-id="10005" data-url="http://127.0.0.1:5500/game2.html#2"
                                data-gameUrl="https://k2w8z2w3.map2.ssl.hwcdn.net/allgame/fengkuangshayu/">Six
                                1</h4>
                            <div class="game_score">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                            </div>
                            <div class="game_play">
                                132.2K plays
                            </div>
                            <div class="banner" data-url="http://h5res.appskyx.com/allgame/ICON/ludo2/iconbannersm.jpg">
                            </div>
                            <div class="description">
                                1,Transformers race start it! Using a variety of deformation props, change the ability
                                of
                                vehicles, speed
                                beyond, rampage Come experience this passion moment!
                            </div>
                        </div>
                        <img class="favorite favorite_img" data-active="0" src="./img/heart.png" />
                    </div>
                </div>
                <div class="item">
                    <div class="swiper-slide">
                        <div class="icon_Box">
                            <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/jiedong/icon160.jpg">
                        </div>
                        <div class="game_info">
                            <h4 class="game_name" data-id="10006" data-url="http://127.0.0.1:5500/game2.html#3"
                                data-gameUrl="https://k2w8z2w3.map2.ssl.hwcdn.net/allgame/fengkuangshayu/">Six
                                2</h4>
                            <div class="game_score">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                            </div>
                            <div class="game_play">
                                132.2K plays
                            </div>
                            <div class="banner"
                                data-url="http://h5res.appskyx.com/allgame/ICON/yetisensation/iconbannersm.jpg">
                            </div>
                            <div class="description">
                                2,Transformers race start it! Using a variety of deformation props, change the ability
                                of
                                vehicles, speed
                                beyond, rampage Come experience this passion moment!
                            </div>
                        </div>
                        <img class="favorite favorite_img" data-active="0" src="./img/heart.png" />
                    </div>
                </div>
                <div class="item">
                    <div class="swiper-slide">
                        <div class="icon_Box">
                            <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wsjzzz/icon160.jpg">
                        </div>
                        <div class="game_info">
                            <h4 class="game_name" data-id="10007" data-url="http://127.0.0.1:5500/game2.html#4"
                                data-gameUrl="https://k2w8z2w3.map2.ssl.hwcdn.net/allgame/fengkuangshayu/">Six
                                3</h4>
                            <div class="game_score">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                                <img src="./img/star3.png">
                            </div>
                            <div class="game_play">
                                132.2K plays
                            </div>
                            <div class="banner"
                                data-url="http://h5res.appskyx.com/allgame/ICON/ninjaascend/iconbannersm.jpg">
                            </div>
                            <div class="description">
                                3,Transformers race start it! Using a variety of deformation props, change the ability
                                of
                                vehicles, speed
                                beyond, rampage Come experience this passion moment!
                            </div>
                        </div>
                        <img class="favorite favorite_img" data-active="0" src="./img/heart.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="m_description">
        <p class="d_title">Description</p>
        <div class="description show_over">
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.multiple-items').slick({
            centerMode: true,
            centerPadding: '30px',
            slidesToShow: 1,
            dots: true,
            arrows: false,
        });
        $('.multiple-items').on("afterChange", function (ev, slick, index) {
            view(index);
        });
        view(0);

        function view(index) {
            var obj = $(".mGame2Detail [data-slick-index='" + index + "']");
            var bannerStr = obj.find(".banner").attr("data-url");
            $(".m_banner .banner").css({
                "background-image": 'url(' + bannerStr + ')'
            });
            var descriptionStr = obj.find(".description").html();
            $("#m_description .description").html(descriptionStr);
            var oGameName = obj.find(".game_name");

            var gameName = oGameName.html();
            var gameUrl = oGameName.attr("data-gameUrl");
            $(".m_game_header .game_name").html(gameName);
            $("#m_game_play .play_btn").attr("data-gameUrl", gameUrl).find('.game_name').html(gameName);
        }


        $("#m_description .description").on("click", function () {
            $(this).toggleClass("show_over");
        })
        $(function () {

            var bannerUrl = $("#m_game_scroll .swiper-slide-active .banner").attr("data-url");


            if (localStorage.getItem("h5_favorite") != null) {
                var o = localStorage.getItem("h5_favorite");
                var arr = o.split("_");
                $("#m_game_scroll .swiper-slide").each(function (item, index) {
                    var id = $(this).find(".game_name").attr("data-id");
                    if (contains(arr, id)) {
                        $(this).find(".favorite").attr('src', './img/heart1.png');
                    }
                })

            }

            $(".favorite").on("click", function () {
                var obSlide = $(this).parents(".swiper-slide");
                var id = obSlide.find(".game_name").attr("data-id"); //游戏id
                var img = obSlide.find(".icon").attr("src");
                var url = obSlide.find(".game_name").attr("data-url");

                var isFavorite = $(this).attr("data-active");
                if (isFavorite == 0) { //收藏
                    $(this).attr("data-active", '1');
                    $(this).attr("src", './img/heart1.png');
                    InsertFavorite(id, img, url);
                } else {
                    $(this).attr("data-active", '0');
                    $(this).attr("src", './img/heart.png');
                    RemoveFavorite(id, img, url);
                }
                $(this).toggleClass("active");
            });

            function RemoveFavorite(id, img, url) {
                if (localStorage.getItem("h5_favorite") == null) {
                    localStorage.setItem("h5_favorite", id);
                    localStorage.setItem("h5_favorite_img", img);
                    localStorage.setItem("h5_favorite_url", url);
                    return;
                } else {
                    var o = localStorage.getItem("h5_favorite");
                    var oImg = localStorage.getItem("h5_favorite_img");
                    var oUrl = localStorage.getItem("h5_favorite_url");
                    var arr = o.split("_");
                    var imgArr = oImg.split("_");
                    var urlArr = oUrl.split("_");
                    removeByValue(arr, id);
                    removeByValue(imgArr, img);
                    removeByValue(urlArr, url);
                    var res = "";
                    var imgRes = "";
                    var urlRes = "";
                    for (var i = 0; i < arr.length; i++) {
                        if (i == 0) {
                            res += arr[i];
                            imgRes += imgArr[i];
                            urlRes += urlArr[i];
                        } else {
                            res += "_" + arr[i];
                            imgRes += "_" + imgArr[i];
                            urlRes += "_" + urlArr[i];
                        }
                    }
                }
                localStorage.setItem("h5_favorite", res);
                localStorage.setItem("h5_favorite_img", imgRes);
                localStorage.setItem("h5_favorite_url", urlRes);
            };

            function InsertFavorite(id, img, url) {
                if (localStorage.getItem("h5_favorite") == null || localStorage.getItem(
                        "h5_favorite") == '') {
                    localStorage.setItem("h5_favorite", id);
                    localStorage.setItem("h5_favorite_img", img);
                    localStorage.setItem("h5_favorite_url", url);
                    return;
                } else {
                    var o = localStorage.getItem("h5_favorite");
                    var oImg = localStorage.getItem("h5_favorite_img");
                    var oUrl = localStorage.getItem("h5_favorite_url");
                    o = localStorage.getItem("h5_favorite");
                    localStorage.setItem("h5_favorite", insert(id, o));
                    localStorage.setItem("h5_favorite_img", insert(img, oImg));
                    localStorage.setItem("h5_favorite_url", insert(url, oUrl));
                }
            }

            function insert(newStr, o) {
                arr = o.split("_");
                if (contains(arr, newStr)) {
                    return o;
                }
                if (arr.length >= 12) {
                    res = newStr;
                    for (var i = 0; i < arr.length - 1; i++) {
                        res += "_" + arr[i];
                    }
                    return res;
                } else {
                    res = newStr + "_" + o;
                    return res;
                }
            }

            function removeByValue(arr, val) {
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i] == val) {
                        arr.splice(i, 1);
                        break;
                    }
                }
            }

            function contains(a, obj) {
                for (var i = 0; i < a.length; i++) {
                    if (a[i] === obj) {
                        return true;
                    }
                }
                return false;
            }
        })
    })
</script>