<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>无标题文档</title>
<meta charset="UTF-8">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
 
<body>
    <div id="div"> 
        <input v-model="changeFirstNameFn">
        <input v-model="changeSecondNameFn">
    <br />
    全名：<input id="full" v-model="fullName">
    {{changeFirstNameFn}},{{changeSecondNameFn}}
</div>
 
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
<script> 
var a=new Vue({
el:"#div",               
data:{ 
	firstName:"",
	lastName:"",
	fullName:""
}, 
computed:{
	changeFirstNameFn:{
		get:function(){      // get 函数，返回绑定的“姓” 的输入框的value 值
			return this.firstName;
		},
		set:function(newVal){ //set函数是当数据发生变化时调用.监听到 “姓”的变化，执行set 函数
			this.firstName=newVal
			this.fullName=newVal+" "+ this.lastName
		}
	},	
	changeSecondNameFn:{
		get:function(){
			return this.lastName},
		set:function(newVal){   //set 函数是当数据发生变化时调用
			this.lastName=newVal
			this.fullName=this.firstName+" "+newVal
			}
		}
	}
})
 
</script>
</html>
