.text-center{
    background-color: #fff!important;
    border:none!important;
}
.text-center .text-center{
    overflow: auto!important;
    height: auto!important;
}
.paginator:after{
    content: '';
    display: block;
    clear: both;
}
.paginator {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    border-radius: 4px;
}

.paginator a {
    position: relative;
    /*float: left;*/
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.paginator a:visited {
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
}
.paginator .cpb {
    z-index: 3;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    position: relative;
    /*float: left;*/
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #fff;
    /*border: 1px solid #ddd;*/
}
.paginator a:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.paginator a[disabled=disabled]{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}