ul.lanren{
  margin:0 auto;
  /*border: ;*/
}
.scale_panel{
  color:#999;
  position:absolute;
  line-height:18px;
  left:60px;top:-0px;
}
.scale_panel>span:first-child{
  position: absolute;
  left: -5rem;
  font-size: 2rem;
}
.scale_panel>span:nth-child(2){
  position: absolute;
  right: -5rem;
  font-size: 2rem;
}
.scale>span{
  background-color: #464C5B;
  width:10px;
  height:10px;
  position:absolute;
  left:-2px;
  top:-4px;
  cursor:pointer;
  border: 1px solid #43EEC0;
  border-radius: 50%;
  /*font-size: 2rem;*/
}
.scale{
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-image: linear-gradient(to right,#43EEC0 0%,#43EEC0 50%,#43EEC0 50%,#43EEC0 100%);
  border-left: 1px #83BBD9 solid;
  width: 133px;
  height: 2px;
  position: relative;
  border-radius: 2rem;
}
.scale>div{
  background-repeat: repeat-x;
  background: -webkit-linear-gradient(left, #43EEC0 , #43EEC0);
  background: -o-linear-gradient(right, #43EEC0, #43EEC0);
  background: -moz-linear-gradient(right, #43EEC0, #43EEC0);
  background: linear-gradient(to right, #43EEC0 , #43EEC0);
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  border-radius: 2rem;
}
.lanren>li{
  margin-left: 3.5rem;
  position:relative;
  list-style:none;
  font-size: 3rem;
}
#title{
  position: absolute;
  top: -13px;
  left: 26px;
  color: #fff;
  font-size: 18px;
}
.volumelar {
  margin-left: -67px;
  margin-top: 28px;
}