/*css reset*! */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
    /*font-size: 100%;*/
    font-weight: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "hiragino sans gb";
    src: url("https://aidivi.oss-cn-hangzhou.aliyuncs.com/web/new/hiraginosansgbw3.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica";
    src: url("https://aidivi.oss-cn-hangzhou.aliyuncs.com/web/new/Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: "PingFang SC";
    src: url("https://aidivi.oss-cn-hangzhou.aliyuncs.com/web/new/PingFang%20Regular.ttf") format("truetype");
}

html,
body {
    /*min-width: 970px;*/
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    color: #666;
    letter-spacing: .3px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*整个版心1024 ipadmini*/
.control-container{
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    height: calc( 100vh );
    background: -webkit-linear-gradient(left, #454B59 , #434957); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #454B59, #434957); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #454B59, #434957); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #454B59 , #434957); /* 标准的语法 */
    overflow: hidden;
}
.cslidenLeft{
    background-color: #323743;
    height: calc( 100vh );
     padding-right: 0;
     padding-left: 0;
}
.lllogo {
    line-height:44px
}
.header{
    position: relative;
    height:53px;
}
.header>a {
    position: absolute;
    left: 50%;
    top: 17px;
    margin-left:-49px;
    display:inline-block;
    height:18px;
    width:99px;
    background-image:url(../img/xzicon.png);
    background-repeat:no-repeat;
    -moz-background-size:100% auto;
    background-size:100% auto;
    background-position:center;
    /*-webkit-animation:dh_1 4.5s infinite;*/
    /*-moz-animation:dh_1 4.5s infinite;*/
    /*animation:dh_1 4.5s infinite;*/
    /*-moz-animation-timing-function:step-start;*/
    /*animation-timing-function:step-start;*/
    /*-webkit-animation-timing-function:step-start;*/
    vertical-align:middle
}
.cslidenLeft ul li a{
    font-size: 14px;
    padding-left:82px;
}
.cslidenLeft ul li:nth-child(1) a{
   background: #3F4653 url("../img/m1.png") no-repeat  12px center;
   background-size: 60px auto;
    padding-left:78px;
}
.cslidenLeft ul li:nth-child(2) a{
    background: #3F4653 url("../img/m2.png") no-repeat  12px center;
    background-size: 60px auto;
    padding-left:82px;
}
.cslidenLeft ul li:nth-child(3) a{
    background: #3F4653 url("../img/m3.png") no-repeat  12px center;
    background-size: 60px auto;
    padding-left:82px;
}
.cslidenLeft ul li:nth-child(4) a{
    background: #3F4653 url("../img/m4.png") no-repeat  12px center;
    background-size: 60px auto;
    padding-left:82px;
}
.cslidenLeft ul li:nth-child(5) a{
    background: #3F4653 url("../img/m4.png") no-repeat  12px center;
    background-size: 60px auto;
    padding-left:82px;
}
.cslidenLeft ul li:nth-child(6) a{
    background: #3F4653 url("../img/m6.png") no-repeat  12px center;
    background-size: 60px auto;
    padding-left:82px;
}
.cslidenLeft ul li:nth-child(7) a{
    background: #3F4653 url("../img/m7.png") no-repeat  12px center;
    background-size: 60px auto;
    padding-left:82px;
}
.cslidenLeft ul li{
    border-bottom:1px solid #434954;
}
.cslidenLeft ul li.curr a{
    transition: color .4s, border-right .4s, box-shadow .4s;
    opacity: 1;
    color: #fff;
    border-right: 2px solid #43F2C1;
    box-shadow: 0 0 4px #313641;
}
.cslidenright{
    padding-right: 30px;
    padding-left: 30px;
}
.panel-body-c{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border: none;
    background: -webkit-linear-gradient(left, #49505F , #353A47); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #49505F, #353A47); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #49505F, #353A47); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #49505F , #353A47); /* 标准的语法 */
    position: relative;
}
.col-md-3left{
    width: 28%!important;
    padding-right:0;
    margin-right: 8px;
}
.col-md-3right{
    width: 70%!important;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.panel-body-c>.panel-heading {
    color: #fff;
    background: -webkit-linear-gradient(left, #3A414D , #2F3440); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3A414D, #2F3440); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3A414D, #2F3440); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3A414D , #2F3440); /* 标准的语法 */
    border: none;
}
.yycontentyycontent{
    overflow: hidden;
}
/*.yycontentyycontent .panel-body-c>.panel-heading {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*z-index: 99;*/
/*}*/
.yycontentyycontent .panel-bodycontent{
    /*padding-top: 33px;*/
}
.pagetitle{
    position: relative;
    border-bottom: 1px solid  #4B515E;
    margin-bottom: 18px;
}
.pagetitle .pagelock{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("../img/lockbg.png") no-repeat center;
    background-size: cover;
    border: none;
    position: absolute;
    right: 12px;
    top: -10px;
}
.pagetitle h2{
    text-align: center;
    line-height: 150%;
    margin: 20px 0 10px -40px;
    color: #fff;
    font-size: 14px;
    opacity: .69;
}
.pagetitle h2 small{
    color: #fff;
    opacity: .69;
}
.panel-title{
    font-size: 12px!important;
}
.switch.switch-con {
    text-align: center;
}
.cslidenLeft ul li a{
    display: block;
    text-align: left;
    padding-left: 30px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    opacity: .6;
}
.hrlineodmachine{
    width: 1px;
    height: 100%;
    border: 1px solid #4A505E;
    position: absolute;
    left: 25%;
    top: 0;
}
.switch-con p{
    color: #fff;
    font-size: 12px;
    margin-top: 13px;
}
.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    /*border-radius: 30%!important;*/
    overflow: hidden;
    /*border: 1px solid red;*/
    border-color: #ccc;
    position: relative;
    text-align: left;
    /*overflow: hidden;*/
    line-height: 8px;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*.bootstrap-switch .bootstrap-switch-label {*/
    /*content: 'ON';*/
/*}*/
.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 12px!important;
    /*padding: 5px 20px!important;*/
    font-size: 14px;
    line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #3D4351!important;
}
.bootstrap-switch .bootstrap-switch-label {
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 100;
    color: #333;
    background: #292D38!important;
}
/*.bootstrap-switch{*/
    /*width: 80%!important;*/
/*}*/
.ccontrol-block{
    /*margin: 0 4.15%;*/
    /*background: rgba(245,245,245,.5);*/
    /*border-radius: 6px;*/
    /*padding: 20px 30px 10px;*/
    /*color: #333;*/
    /*border: 1px solid #ddd;*/
    /*box-shadow: #EEEEEE 2px 5px 2px;*/
}
.ccontrol-b-bottom{
    /*text-align: center;*/
    /*padding-top: 10px;*/
    /*border-top: 1px solid #ddd;*/
}
.ttcontrolradio{
    /*line-height: 30px;*/
    /*position: relative;*/
    /*padding-left: 40px;*/
    /*color: #333;*/
}
.ttcontrolradio input[type='radio']{
    /*position: absolute;*/
    /*top: 6px;*/
}
/*开关*/
.toggle {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    /*color: white;*/
    outline: 0;
    text-decoration: none;
    /*border: 1px solid red;*/
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 100px;
    /*border: 2px solid #363B47;*/
    background-color: #3D4250;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.toggle:active {background-color: #292F3A;}
/*.toggle:hover:not(.toggle--moving):after {background-color: #292F3A;}*/
.toggle:after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 59px;
    /*width: calc(50% - 4px);*/
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    /*color: white;*/
    background-color: #292D38;
    /*border: 1px solid;*/
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.toggle--on:after {
    content: 'ON';
    /*border-radius:50px;*/
    color: #00FDF4;
    margin-top:0;
    -webkit-transform: translate(102%, 0);
    -moz-transform: translate(102%, 0);
    -o-transform: translate(102%, 0);
    transform: translate(102%, 0);
}
.toggle--off:after {
    content: 'Off';
    border-radius: 20px;
    line-height: 30px;
    color: #f44336;
}
.roeswitchbb .toggle--off:after {
    content: '';
}
.roeswitchbb .toggle:after{
    width: 22px;
    height: 22px;
}
.roeswitchbb .toggle--on:after {
    content: '';
    /*background: #43ECEE;*/
    background: -webkit-linear-gradient(left, #43ECEE , #43EEBC);
    background: -o-linear-gradient(right, #43ECEE, #43EEBC);
    background: -moz-linear-gradient(right, #43ECEE, #43EEBC);
    background: linear-gradient(to right, #43ECEE , #43EEBC);
    border-radius: 50%;
    padding: 0;
    -webkit-transform: translate(220%, 0);
    -moz-transform: translate(220%, 0);
    -o-transform: translate(220%, 0);
    transform: translate(220%, 0);
}
.roeswitchbb .toggle {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 73px;
    height: 22px;
    color: white;
    outline: 0;
    text-decoration: none;
    /*border: 1px solid red;*/
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 100px;
    /*border: 2px solid #363B47;*/
    background-color: #3D4250;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
/*.roeswitchbb .toggle:hover:not(.toggle--moving):after{*/
    /*background: ;*/
/*}*/
.toggle--moving {background-color: #1c2429;}
.toggle--moving:after {
    color: transparent;
    border-color: #435862;
    background-color: #222c31;
    -webkit-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
    -moz-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
    -o-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
    transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
}
.switchyy p{
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
    color: #fff;
    opacity: .8;
}
.roelineyy{
    display: flex;
    padding: 0 17px;
}
.roelineyy img{
    width: 59px;
    height: 33px;
    margin-right: 12px;
}
.roelineyy span{
    font-size: 14px;
    color: #fff;
    width:59px;
    opacity: .6;
    line-height: 33px;
}
.roelineyy .roeswitch{
    margin-left: -12px;
    transform: scale(.68);
}
.restartyy{
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none!important;
    background:#363B48 url("../img/restart.png") no-repeat center;
    background-size: 95%;
    margin-top: 5px;
    margin-left: -10px;
}
.roelineyy{
    height: 48px;
}
.yyyyccon {
    border-right: 1px solid #464A56;
}
.mt20{
    /*margin-top: 14px;*/
}
.switchyb{
    display: flex;
    margin-top: 36px;
}
.switchyb span{
    width: 73px;
    text-align: right;
    padding-right: 15px;
    color: #fff;
    margin-right: 8px;
}
.panel-body-cbottom .panel-body{
    padding-top: 40px;
}
.panel-body-cbottom{
    padding-bottom: 52px;
}
.panel-body-ctop  .panel-body{
    padding-top: 93px;
}
.panel-body-ctop{
    padding-bottom: 115px;
}
.conpagecc .toggle{
   transform: scale(.8);
}
.conpagecc{
    height: auto;
    padding:0;
    margin-left: -32px;
    position: relative;
}
.conpagecc .restartyy{
    position: absolute;
    left: 170px;
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background:#2F3440 url("../img/restart.png") no-repeat center;
    background-size: 95%;
    /*margin-left: 15px;*/
}
.volumelar p{
    padding-left: 27%;
    color: #fff;
    font-size: 8px;
    padding-top: 12px;
}

.panel-bodycontent{
    padding: 0;
    margin-left: 0;
    overflow: hidden;
}
.roelineyycontent{
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #4B515E;
    padding: 10px 0;
}
.roelineyycontent .yyimgbox{
    text-align: center;
}
.conctitleyy{
    font-size: 12px;
    color: #fff;
}
.yycontentyycontent .panel-body-c{
    height: calc( 100vh - 86px );
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.cccontentleft .panel-body-ctop{
    padding-bottom: 86px;
    /*margin-bottom: 0;*/
}