<style>
    #m_game_play {
        background-color: rgb(255, 255, 255);
        padding: 0.267rem 0.133rem;
        box-shadow: rgba(1, 1, 1, 0.34) 0px 0px 7px 1px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 2;
        left: 50%;
        z-index: 9;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .pc #m_game_play {
        width: 640px;
    }

    #m_game_play .play_btn {
        height: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(62, 81, 181);
        margin: 0px 0.667rem;
        bottom: 0px;
        border-radius: 0.133rem;
        padding: 0.267rem;
        color: rgb(255, 255, 255);
        font-size: 0.427rem;
        font-weight: 600;
        box-shadow: rgba(1, 1, 1, 0.34) 0px 0px 7px 1px;
        animation: f1pf1x1r 1s ease-in-out infinite;
        -webkit-animation: f1pf1x1r 1s ease-in-out infinite;
    }

    @keyframes f1pf1x1r {
        45% {
            -webkit-transform: scale3d(1.10, 1.10, 1.10);
            transform: scale3d(1.10, 1.10, 1.10);
        }
    }

    #gamePage {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
</style>

<div id="m_game_play">
    <a class="play_btn fcyrmgw" href="javascript:void(0)" data-gameUrl="">Play &nbsp;<span class="game_name"></span></a>
</div>
<script>
    $(".play_btn").on("click", function () {
        $('html,body').scrollTop(0);
        $("#gamePage").load('./template/game_page.html', function () {
            $("#gameDetail").hide();
            $("#gamePage").removeClass("hid_i");
        })
    })
</script>