<div class="mGame3Play">
    <div class="btn_bg">

    </div>
    <div class="play_btn">
        PLAY
    </div>
</div>
<style>
    .mGame3Play {
        position: relative;
        background: rgb(244, 240, 240);
        margin: 0 0.8rem;
        border-radius: 0.133rem;
    }

    .mGame3Play .btn_bg {
        background: #f89b10;
        margin: 0.8rem 0 1.067rem;
        border-radius: 0.133rem;
        /* box-shadow: #fff 1px 2px 2px; */
        height: 1.147rem;
        width: 100%;
        animation: myfirst 5s;
    }

    .mGame3Play .play_btn {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        /* background: rgb(244, 240, 240); */
        border-radius: 0.133rem;
        height: 1.147rem;
        line-height: 1.147rem;
        text-align: center;
        color: #fff;
        font-size: 0.427rem;

    }

    @keyframes myfirst {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }
</style>

<script>
    //加载游戏
    $(".play_btn").on("click", function () {
        $.get("./template/game_page.html", function (data) {
            $("#myBig2").html(data);
            $("#myBig").hide();
        })
    })
</script>