<a class="mGame3ToMore" href="javascript:void(0)">
    Back to top <img src="./img/top.png">
</a>
<style>
    .mGame3ToMore {
        position: fixed;
        bottom: 0.133rem;
        width: 4rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        height: 0.8rem;
        line-height: 0.8rem;
        z-index: 99;
        text-align: center;
        font-size: 0.373rem;
        display: none;
        color: #fff;
    }

    .mGame3ToMore img {
        height: 0.533rem;
        vertical-align: middle;
    }
</style>
<script>
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 200) {
                $(".mGame3ToMore").fadeIn(1000);
            } else {
                $(".mGame3ToMore").fadeOut(1000);
            }
        });
        //当点击跳转链接后，回到页面顶部位置
        $(".mGame3ToMore").click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 500);
            return false;
        });
    })
</script>