<div class="mGame3Detail">
    <div class="score_box">
        <div class="title">Score</div>
        <div class="score_detail">
            <div class="score">
                4.6
            </div>
            <div class="score_line">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
                <div class="line line4"></div>
            </div>
        </div>

    </div>
    <div class="description">
        <div class="title">Description</div>
        <div class="detail show_over">
            Welcome to the winter special of this awesome bike stunt game Moto XM Winter Drive your twowheeler through
            challenging tracks full of deadly traps ramps explosives and obstacles and try to get to the finish line
            alive Complete every level as fast as you can to earn stars which you can use to unlock new riders Perform
            front or backflips for extra seconds and try to finish all levels with stars to name yourself a professional
            XM rider Have fun with Moto XM Winter
        </div>
    </div>
    <div class="play_btn">
        PLAY
    </div>
</div>
<style>
    .mGame3Detail {
        color: #fff;
        margin: 0.4rem 0.8rem 0;
        font-size: 0.347rem;
    }

    .mGame3Detail .title {
        font-size: 0.427rem;
        font-weight: 400;
        font-family: SourceHanSansSC;
    }

    .mGame3Detail .score_detail {
        display: flex;
        margin-top: 0.4rem;
    }

    .mGame3Detail .score {
        width: 2.133rem;
        font-size: 0.96rem;
        font-weight: 700;
        text-align: center;

    }

    .mGame3Detail .score_line {
        flex: 1;
    }

    .mGame3Detail .line {
        height: 0.133rem;
        margin-bottom: 0.187rem;
    }

    .mGame3Detail .line:last-of-type {
        margin-bottom: 0;
    }

    .mGame3Detail .line1 {
        background: rgb(255, 152, 0);
        width: 5.333rem;
    }

    .mGame3Detail .line2 {
        background: rgb(139, 195, 74);
        width: 5.333rem;
    }

    .mGame3Detail .line3 {
        background: rgb(20, 242, 222);
        width: 5.333rem;
    }

    .mGame3Detail .line4 {
        background: rgb(255, 64, 129);
        width: 5.333rem;
    }

    .mGame3Detail .description .title {
        margin-top: 0.4rem;
    }

    .mGame3Detail .detail {
        margin-top: 0.267rem;
        line-height: 0.507rem;
        padding: 0 0.4rem;
        font-size: 0.347rem;
    }

    .mGame3Detail .description .show_over {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
</style>

<script>
    var gameId = 11212;
    var arr = [];

    var alreadyStr = sessionStorage.getItem("game_" + gameId);
    if (alreadyStr) {
        var arr = alreadyStr.split(',')
    } else {
        var index = Math.floor(Math.random() * 10);
        for (var i = 0; i < 4; i++) {
            let index = Math.floor(Math.random() * 10);
            arr.push(index);
        }

        var arrStr = arr.join(",");
        sessionStorage.setItem("game_" + gameId, arrStr);
    }

    $(".score_line .line").each(function (index) {
        var w = [2.667, 3.2, 3.467, 3.733, 4, 4.267, 4.533, 4.8, 5.067, 5.333];
        var num = arr[index];
        var ob = w[num];
        $(this).css({
            "width": ob + "rem"
        });
    });
    $(".mGame3Detail .description .detail").on("click", function () {
        $(this).toggleClass("show_over");
    });
</script>