<div class="mIndexRecommendType">
    <img class="bg" src="http://h5res.appskyx.com/allgame/ICON/xsaiche/iconbanner.jpg">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a class="swiper-slide" href="javascript:void(0)">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/bxsc/icon160.jpg">
                <p class="name">
                    Moto good Moto good Moto good
                </p>
            </a>
            <a class="swiper-slide" href="javascript:void(0)">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </a>
            <a class="swiper-slide" href="javascript:void(0)">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </a>
            <a class="swiper-slide" href="javascript:void(0)">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </a>
            <a class="swiper-slide" href="javascript:void(0)">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </a>
        </div>
    </div>
</div>

<style>
    .mIndexRecommendType {
        color: #fff;
        position: relative;
        font-size: 0.373rem;
        padding: 0.267rem 0;
        height: 5.333rem;
        box-sizing: border-box;
    }

    .mIndexRecommendType .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .mIndexRecommendType .title {
        font-size: 0.48rem;
        font-weight: 600;
        margin: 0 0 0 0.8rem;
    }

    .mIndexRecommendType .subtitle {
        font-size: 0.427rem;
        margin: 0 0 0 0.8rem;
    }

    .mIndexRecommendType .swiper-container {
        /* padding: 0.267rem 0 0 100px; */
        position: absolute;
        width: 100%;
        bottom: 0.267rem;
        padding-left: 2.667rem;
        color: #666;

    }

    .mIndexRecommendType .swiper-container {
        text-align: center;
        color: #444;
    }

    .mIndexRecommendType .swiper-container .icon {
        width: 2.027rem;
        border-radius: 0.267rem;
        border: 0.053rem solid #fff;
    }

    .mIndexRecommendType .swiper-container .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<script>
    var swiperMIndexRecommendType = new Swiper('.mIndexRecommendType .swiper-container', {
        slidesPerView: 3,
    });
</script>