<div class="m_ad">
    <div class="title">Advertisement</div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- gameg-super25-main1 -->
    <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px"
        data-ad-client="ca-pub-1176349956374677" data-ad-slot="1599564193"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<style type="text/css">
    .m_ad {
        text-align: center;
        height: auto;
        margin: 0.133rem 0;
    }

    .m_ad .title {
        text-align: center;
        margin-bottom: 0.133rem;
    }
</style>