<div class="m_header">
	FA Game
	<!-- <img class="title" src="./img/title.png"> -->
	<img class="share_btn" src="./img/fenxiang.png">
</div>
<style type="text/css">
	.m_header {
		text-align: center;
		padding: 0.133rem 0.267rem;
		font-size: 0.427rem;
		color: #333333;
		position: relative;
		height: 0.8rem;
		overflow: hidden;
	}

	.m_header .title {
		height: 1.227rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}

	.m_header .share_btn {
		position: absolute;
		right: 0.3125rem;
		width: 0.625rem;
		font-size: 0.625rem;
	}
</style>

<script type="text/javascript">
</script>