<div class="m_bannerHasWord model_box_w">
    <a class="banner" href="http://192.168.2.141:8020/kit_study/work/game/game.html">
        <amp-img src="http://h5res.appskyx.com/allgame/ICON/liujiaosuipian/iconbanner.jpg" alt="Welcome" height="3.38rem" width="6.4rem"></amp-img>
    </a>
    <div class="word">
          When the player discharges the shape in any direction within the big hexagon lined up in a straight line, can eliminate the score. While eliminating the number of straight lines can get extra points, combo more, more surprises! . . .
    </div>
    <div class="explain">
        <span>10 score</span>
        <span>&emsp;|&emsp;</span>
        <span>70358 play</span>
        <a href="/" class="play">play</a>
    </div>
</div>

<style type="text/css">
	.m_bannerHasWord {
		width:100%;
        font-size:0.2rem;
	}
	.m_bannerHasWord .banner{
		display: block;
	}
    .m_bannerHasWord .word{
    	color: #444;
        margin:0.1rem 0.1rem 0.15rem;
       
	    
	    word-break: break-all;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	    overflow: hidden;
    }
    .m_bannerHasWord .explain{
    	color:#888;
        padding:0 0.1rem 0.1rem;
    }
    .m_bannerHasWord .explain .play{
        float:right;
        padding: .01rem .25rem .04rem;
        margin-top: -4px;
        background: #5677fc;
        color:#fff;
        border-radius:3px;
       
    }
</style>
