 <div class="m_cell4 model_box">
    <div class="head">
        <span>NEW</span>
        <router-link class="more" to='/'>More</router-link>
    </div>
    <div class="item_list">
        <a class="item" href="/">
        	<amp-img src="http://h5res.appskyx.com/allgame/ICON/longzhiguodu/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Dragon Land</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/gundongdebingqiu/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Icy Spicy</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/tantiaomaoxian/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Bounce Adventure</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/hldclmx/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Fox Adventure</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/longzhiguodu/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Dragon Land</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/gundongdebingqiu/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Icy Spicy</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/tantiaomaoxian/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Bounce Adventure</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/hldclmx/icon160.jpg" alt="Welcome" height="1.44rem" width="1.44rem"></amp-img>
            <p>Fox Adventure</p>
        </a>
    </div>
</div>
<style>
	.m_cell4 .head{
        font-size: 0.3rem;
        font-weight: 700;
        color:#333;
    }
	.m_cell4 .head .more{
        font-size:0.24rem;
        color:#5677fc;
        float: right;
    }
	.m_cell4 .item_list{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        font-size: 0.75rem;
        text-align: center;
	}
	.m_cell4 .item_list .item{
        display: block;
        width:25%;
        margin-top:5px;
        padding-right: 5px;
    }
    .m_cell4 .item_list .item:nth-of-type(4n){
        padding-right: 0;
    }
	.m_cell4 .item_list .item amp-img{
        display: block;
        border-radius: 12%;
        box-shadow: 1px 2px 3px 0 rgba(50,50,50,.75);
    }
	.m_cell4 .item_list .item p{
		font-size:0.2rem;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        height:0.52rem;
        line-height: 0.52rem;
        border-radius: 0 0 5px 5px;
	}
</style>