<div class="m_nav">
    <div class="nav">
        <div class="head">
            <img src="//res.appskyx.net/allgame/ICON/dtsl/icon160.jpg" />
        </div>
        <div class="main">
            <a class="item active" href="">
            	<img src="./img/home.png" alt="home" />
                Home
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
                 Action
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	 Adventure
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	 Puzzle
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Racing
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Shoot
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Trivia
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Pixel Games
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Arcade
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Sports
            </a>
            <a class="item" href="">
                <img src="./img/home.png" alt="home" />
            	Strategy
            </a>
        </div>
    </div>
</div>

<style type="text/css">
.m_nav {
	position: fixed;
    top:0;
    left: 0;
    z-index:10;
    padding-top: 0.6rem;;
    width:100%;
    height: 100%;
    background:hsla(0,0%,78%,.7);
    display: none;
}

.m_nav .nav{
	background: #fff;
    width:4rem;
    height:100%;
    position:relative;
    top:0;
    left:0;
    animation:navmove 0.5s 1;
}
.m_nav .nav .head{
	height: 1.3rem;
    display: flex;
    align-items: center;
    padding:0 0 0 0.2rem;
    border-bottom:1px solid #e1e1e1;
}
.m_nav .nav .head img{
	width:0.9rem;
    height:0.9rem;
    display: block;
    border-radius:50%;
}
.m_nav .nav .main .item{
	display: block;
    height: 0.6rem;
    padding:0 0 0 0.2rem;
    line-height: 0.6rem;
    font-size: 0.25rem;
    border-bottom:1px solid #e1e1e1;
}
.m_nav .nav .main .item img{
	width:0.32rem;
	float: left;
	margin:0.12rem 0.06rem 0 0; 
}
.m_nav .nav .main .item .img_box{
    display: inline-block;
    margin:0.1rem 0.1rem 0 0;
    float: left;
}
.m_nav .nav .main .item.active{
    background:#5677fc;
    color:#fff;
}
@keyframes navmove {
    from{left:-4rem;}
    to{left: 0;}
}
</style>

<script type="text/javascript">
	$(".m_nav").on("click",function(){
        $(this).hide();
    });
    $(".nav").on("click",function(){
        return false;
    });
    $(".m_nav").on("touchmove",function(){
    	return false;
    })
</script>