.postView h2{
    text-align: center;
}
.postView .mark{
    color:grey;
    margin-bottom: 20px;
}
.postView .mark .author{
    font-size: 1.2em;
    font-weight: bold;
    color:#009a61;
}
.postView .mark span{
    margin-right:5px; 
}
.postView .vote img{
    height: 30px; 
    width: 30px;
    vertical-align: middle;
  }