<div class="mGame3Header">
    Hsyjre super cool
    <a class="link" id="copeUrl">
        <img src="./img/fenxiang2.png">
    </a>
</div>

<style>
    .mGame3Header {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 100%;
        text-align: center;
        font-size: 0.427rem;
        z-index: 11;
        height: 1.6rem;
        line-height: 1.067rem;
        color: #fff;
        background: linear-gradient(rgba(44, 44, 44, 0.78), rgba(44, 44, 44, 0)) transparent;
    }

    .mGame3Header .link {
        position: absolute;
        right: 0.4rem;
        top: 0.133rem;
    }

    .mGame3Header .link img {
        width: 0.533rem;
    }

    .pc .mGame3Header {
        width: 640px;
    }
</style>
<script language="javascript">
    $("#copeUrl").on("click", function () {
        var text = window.location;
        Clipboard.copy(text);
    })
</script>