* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 0.32rem;
  max-width: 540px;
  max-height: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  zoom: 1;
}

.clear:after {
  contain: "";
  display: block;
  clear: both;
}