<div  class="m_cell">
	<div class="header">
		<span class="icon iconfont icon-dianshi"></span>
		<span class="text">New</span>
		<a class="allbtn icon iconfont icon-more" href="./list.html"></a>
	</div>
	<ul class="list clear">
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2018110809553468531.png" />
				<p class="img_title">Tomb Runner Tomb Runner Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2018110809563244330.png" />
				<p class="img_title">Fruit Ninja</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2019031113252965194.jpg" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2018110809553468531.png" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2019013003530616929.png" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2019030513595757222.jpeg" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">20</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2019030514003912405.png" />
				<p class="img_title">Tomb Runner Runner</p>
				<span class="img_text"><i class="play">99999</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2019011812361131436.jpg" />
				<p class="img_title">Tomb </p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
	</ul>
</div>

<style type="text/css">
	.m_cell{
		padding:0.3125rem 0; 
	}
	.m_cell .list{
		margin:0 0.2rem;
	}
	.m_cell .list li{
		float: left;
		color:rgba(71,74,79,.87);
		font-size: 12px;
		width:25%;
		/*padding:0 0.15625rem;*/
		text-align: center;
		margin-top:0.2rem;
	}
	.m_cell .list li a{
		display: block;
	    padding: 0.0625rem 0.0625rem 0.15625rem 0.0625rem;
	    border-radius: 0.15625rem;
	    margin:0 0.0625rem 0 0.0625rem;
	    height:3.8rem;
	}
	.m_cell .list li:nth-of-type(2n+1) a{
		/*margin:0 0.0625rem 0 0.0625rem;*/
	}
	.m_cell .list li:nth-of-type(2n) a{
		
	}
	.m_cell .list li img{
		width:96%;
		/*height:60px;*/
		border-radius: 0.3125rem;
	}
	.m_cell .list li p{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.m_cell .list li .img_text {
		color: #F99D00;
		/*display: none;*/
	}
	.m_cell .list li .img_text .play{
		color: #F99D00;
	}
</style>
<script type="text/javascript">
	$("img.lazy").lazyload({threshold : 100,effect : "fadeIn"});
</script>