 <div class="m_cell2 model_box">
    <div class="head">
        <span>Puzzle</span>
        <a class="more" to='http://192.168.2.141:8020/kit_study/work/game/list.html'>More</a>
    </div>
    <div class="item_list" >
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/liujiaosuipian/iconbannersm.jpg" alt="Welcome" height="1.66rem" width="3.04rem"></amp-img>
            <p>SIX</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/jiangshishichang/iconbannersm.jpg" alt="Welcome" height="1.66rem" width="3.04rem"></amp-img>
            <p>Zombie Market</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/liujiaosuipian/iconbannersm.jpg" alt="Welcome" height="1.66rem" width="3.04rem"></amp-img>
            <p>SIX</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/jiangshishichang/iconbannersm.jpg" alt="Welcome" height="1.66rem" width="3.04rem"></amp-img>
            <p>Zombie Market</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/liujiaosuipian/iconbannersm.jpg" alt="Welcome" height="1.66rem" width="3.04rem"></amp-img>
            <p>SIX</p>
        </a>
        <a class="item" href="/">
            <amp-img src="http://h5res.appskyx.com/allgame/ICON/jiangshishichang/iconbannersm.jpg" alt="Welcome" height="1.66rem" width="3.04rem"></amp-img>
            <p>Zombie Market</p>
        </a>
    </div>
</div>
<style type="text/css">
	.m_cell2 .head{
        font-size: 0.3rem;
        font-weight: 700;
        color:#333;
    }
	.m_cell2 .head .more{
		font-size: 0.24rem;
        color:#5677fc;
        float: right;
    }
	.m_cell2 .item_list{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        font-size: 0.2rem;
        text-align: center;
	}
	.m_cell2 .item_list .item{
        display: block;
        width:50%;
        margin-top:0.12rem;
        padding-left: 0.06rem;
    }
    .m_cell2 .item_list .item:nth-of-type(2n+1){
        padding-right: 0.06rem;
        padding-left: 0;
    }
	.m_cell2 .item_list .item img{
        width:100%;
        height: 1.66rem;
        border-radius: 5px 5px 0 0 ;
        display: block;
    }
	.m_cell2 .item_list .item p{
		font-size: 0.22rem;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        height:0.48rem;
        line-height: 0.48rem;
        background: #eee;
        border-radius: 0 0 5px 5px;
	}
</style>