 <div class="m_scrollHasTitle model_box_w">
    <div class="head">
        <span>SUPER HOT</span>
        <a class="more" href='http://192.168.2.141:8020/kit_study/work/game/list.html'>More</a>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="">
                    <img src="http://h5res.appskyx.com/allgame/ICON/yingyongqishi/iconbannersm.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="">
                    <img src="http://h5res.appskyx.com/allgame/ICON/mofayaoshui/iconbannersm.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tgqbt/iconbannersm.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="">
                    <img src="http://h5res.appskyx.com/allgame/ICON/bingwang3/iconbannersm.jpg"/>
                </a>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
	.m_scrollHasTitle{
		background:#fff;
	}
	.m_scrollHasTitle .head{
		font-size: 0.3rem;
        font-weight: 700;
        color:#333;
        margin:0 5px;
	}
	.m_scrollHasTitle .head .more{
		font-size:0.24rem;
        color:#5677fc;
        float: right;
	}
	.m_scrollHasTitle .swiper-container {
		padding-left:5px;
	    margin-top:5px;
	}
	.m_scrollHasTitle .swiper-container .swiper-slide a{
		display: block;
	}
	.m_scrollHasTitle .swiper-container .swiper-slide a img{
		display: block;
        min-height: 1.5788rem;
        width:100%;
        border-radius: .07rem;
	}
	.m_scrollHasTitle .swiper-container .swiper-slide a .item_bottem {
        font-size: 0.75rem;
        line-height: 2rem;
        height: 2rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
	                
</style>
<script type="text/javascript">
	 var swiper1 = new Swiper('.m_scrollHasTitle .swiper-container',{
        slidesPerView: 2.2,
        spaceBetween: 5
    });
</script>