<div class="m_game_header">
	<a class="back icon iconfont icon-fanhui" href="javascript:window.history.back(-1);"></a>
	Dine steak
	<span class="love icon iconfont icon-xin"></span>
</div>

<style>
	.m_game_header{
		position: relative;
		text-align: center;
		padding: 0.3125rem;
		font-size:0.5rem;
		color:#333333;
		background: #fff;
		box-shadow:0 1px 4px #d8d8d8;
	}
	.m_game_header .icon{
		position: absolute;
		font-size: 0.625rem;
	}
	.m_game_header .back{
		left: 0.3125rem;
	}
	.m_game_header .love{
		right: 0.3125rem;
		color:#666;
	}
	.m_game_header .love.active{
		color: #CB4042;
	}
</style>
<script type="text/javascript">
	$(".icon-xin").on("click",function(){
		$(this).toggleClass("active");
	})
</script>