<div class="m_listNav clear">
    <span data-id="1" class="active" >Action</span>
    <span data-id="2" >Adventure</span>
    <span data-id="3" >Puzzle</span>
    <span data-id="4" >Racing</span>
    <span data-id="5" >Action</span>
    <span data-id="6" >Shoot</span>
    <span data-id="7" >Trivia</span>
</div>

<style type="text/css">
	.m_listNav{
	    background: #fff;
	    padding:0.15625rem 0.15625rem 0.3125rem 0.15625rem;
	    line-height: 0.68rem;
	}
	.m_listNav span{
		color:#F99D00;
        display: block;
        float: left;
        padding:0 0.3125rem 0;
        font-size: 0.4375rem;
        margin:0.15625rem 0 0 0;
        border-radius: 0.375rem;
	}
	.m_listNav span.active{
		background: #F99D00;
		color:#fff;
	}
</style>
<script type="text/javascript">
	$(".m_listNav span").on("click",function(){
		$(this).addClass("active").siblings("span").removeClass("active");
	});
</script>