<div class="m_list_header">
	<a class="back" href="javascript:window.history.back(-1);">
		<img src="./img/fanhui.png" />
	</a>
	<span class="content">FA Game</span>
	<span class="share icon iconfont icon-fenxiang"></span>
</div>
<style type="text/css">
	.m_list_header{
		text-align: center;
		padding: 0.3125rem;
		font-size:0.5rem;
		color:#333333;
		position: relative;
	}
	{

	}
	.m_list_header .back{
		width:0.625rem;
		left:0.3125rem;
		display: inline-block;
		position: absolute;
	}
	.m_list_header .back img{
		width: 0.65rem;
		display: block;
	}
	.m_list_header .share{
		position: absolute;
	    right: 0.3125rem;
	    width: 0.625rem;
	    font-size: 0.625rem;
	}
</style>
<script type="text/javascript">
	
</script>