<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>choose_map/islandname_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{353,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,47}</string>
			</dict>
			<key>choose_map/islandname_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,496},{408,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{408,58}</string>
			</dict>
			<key>choose_map/islandname_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,964},{356,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,47}</string>
			</dict>
			<key>choose_map/islandname_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,292},{413,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{413,45}</string>
			</dict>
			<key>choose_map/islandname_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,906},{417,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{417,56}</string>
			</dict>
			<key>choose_map/islandname_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,382},{396,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,60}</string>
			</dict>
			<key>choose_map/islandname_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,342},{406,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,60}</string>
			</dict>
			<key>choose_map/islandname_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,342},{405,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,63}</string>
			</dict>
			<key>choose_map/islandname_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,749},{252,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,47}</string>
			</dict>
			<key>choose_map/islandname_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,964},{396,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,46}</string>
			</dict>
			<key>rank/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,250},{278,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,97}</string>
			</dict>
			<key>rank/imggifticon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{405,316}}</string>
				<key>offset</key>
				<string>{16,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,380}</string>
			</dict>
			<key>pngdata/gift/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,505},{101,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>effect/candy/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,608},{141,122}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,175}</string>
			</dict>
			<key>effect/candy/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,588},{162,148}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,175}</string>
			</dict>
			<key>effect/candy/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,749},{196,167}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,175}</string>
			</dict>
			<key>effect/candy/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,749},{211,157}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,175}</string>
			</dict>
			<key>effect/candy/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,430},{167,73}}</string>
				<key>offset</key>
				<string>{-23,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,175}</string>
			</dict>
			<key>element/candy_pudding.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,319},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/candy_pudding_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>choose_map/claim_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,133},{120,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,39}</string>
			</dict>
			<key>choose_map/blue_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,455},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>choose_map/blue_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,983},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>choose_map/blue_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,382},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>choose_map/blue_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,431},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>choose_map/purple_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,530},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,511},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,409},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>choose_map/purple_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,460},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>element/pearl.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,405},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/pearl_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,319},{86,87}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>pngdata/colorslm/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,505},{79,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>pngdata/colorslm/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,983},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>pngdata/colorslm/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,983},{48,31}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>pngdata/colorslm/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,739},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,42}</string>
			</dict>
			<key>pngdata/colorslm/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,547},{65,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,81}</string>
			</dict>
			<key>element/pear_wind.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,408},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>element/boom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,614},{56,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/boom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,672},{56,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/boom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,730},{56,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/boom4.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,788},{56,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/boom5.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,470},{56,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/fly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,530},{50,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/fly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,319},{50,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/fly3.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,371},{50,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/fly4.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,552},{50,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/fly5.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,552},{50,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/color1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,846},{59,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/color2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{59,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/color3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{59,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/color4.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,491},{59,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/color5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,527},{59,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>public/publicbtn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1},{379,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{379,102}</string>
			</dict>
			<key>choose_map/message_openbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,131},{309,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,117}</string>
			</dict>
			<key>choose_map/message_refusebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,906},{189,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,75}</string>
			</dict>
			<key>choose_map/messagedes.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1},{130,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,39}</string>
			</dict>
			<key>choose_map/messageicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,319},{83,88}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,88}</string>
			</dict>
			<key>pngdata/monster1/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{43,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,32}</string>
			</dict>
			<key>pngdata/monster1/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,341},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,58}</string>
			</dict>
			<key>pngdata/monster1/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,399},{33,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,56}</string>
			</dict>
			<key>pngdata/monster1/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,496},{34,16}}</string>
				<key>offset</key>
				<string>{-8,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>pngdata/monster1/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,250},{40,16}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>pngdata/monster1/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,131},{52,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>pngdata/monster1/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,983},{43,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>pngdata/monster1/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,255},{11,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,17}</string>
			</dict>
			<key>guide/rect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,250},{178,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,191}</string>
			</dict>
			<key>jctg/jctg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,780},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>public/n_headbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,612},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>weekgame/watchdes.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,255},{84,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,24}</string>
			</dict>
			<key>weekgame/watchicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,707},{36,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>honor/honorframebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1},{339,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,128}</string>
			</dict>
			<key>honor/honorframebg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1},{339,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,128}</string>
			</dict>
			<key>public/n_numbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,983},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>pngdata/monster4/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,430},{115,57}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,75}</string>
			</dict>
			<key>pngdata/monster4/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,707},{29,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
			<key>pngdata/monster4/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,233},{28,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>pngdata/monster4/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,185},{26,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,54}</string>
			</dict>
			<key>public/n_piaodai.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,614},{230,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,71}</string>
			</dict>
			<key>get_reward/get_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{294,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,72}</string>
			</dict>
			<key>choose_map/purple_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,409},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>choose_map/purple_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,528},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_7.png</string>
			<key>realTextureFileName</key>
			<string>csi_7.png</string>
			<key>size</key>
			<string>{1023,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>