<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>public/n_piaodai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{616,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,188}</string>
			</dict>
			<key>public/n_titlebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{450,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,104}</string>
			</dict>
			<key>public/publicbtn11.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,562},{191,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,94}</string>
			</dict>
			<key>public/publicbtn12.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,652},{190,88}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,94}</string>
			</dict>
			<key>public/publicbtn13.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,648},{177,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,71}</string>
			</dict>
			<key>public/publicbtn14.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,918},{178,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,71}</string>
			</dict>
			<key>public/publicbtn15.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,399},{294,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,109}</string>
			</dict>
			<key>public/publicbtn17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{306,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,112}</string>
			</dict>
			<key>public/publicbtn18.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,394},{214,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,129}</string>
			</dict>
			<key>public/publicbtn19.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,191},{314,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,129}</string>
			</dict>
			<key>public/publicbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,394},{278,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,97}</string>
			</dict>
			<key>public/publicbtn20.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,674},{108,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,100}</string>
			</dict>
			<key>public/publicbtn21.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,856},{208,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,60}</string>
			</dict>
			<key>public/publicbtn22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{214,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,66}</string>
			</dict>
			<key>public/publicbtn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,453},{238,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,97}</string>
			</dict>
			<key>public/publicbtn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,923},{150,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,88}</string>
			</dict>
			<key>public/publicbtn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,856},{201,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>
			<key>public/publicbtn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,921},{201,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,63}</string>
			</dict>
			<key>pngdata/gift/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1},{1,1}}</string>
				<key>offset</key>
				<string>{98,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,152}</string>
			</dict>
			<key>pngdata/gift/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,219},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>pngdata/gift/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,914},{101,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>pngdata/gift/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,776},{95,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,99}</string>
			</dict>
			<key>pngdata/gift/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,742},{112,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,117}</string>
			</dict>
			<key>pngdata/gift/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,404},{204,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,158}</string>
			</dict>
			<key>pngdata/gift/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,695},{159,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,100}</string>
			</dict>
			<key>pngdata/gift/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,507},{158,127}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,133}</string>
			</dict>
			<key>pngdata/gift/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,667},{120,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,125}</string>
			</dict>
			<key>pngdata/gift/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,914},{101,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>pngdata/gift/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,827},{101,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>pngdata/heart/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,857},{44,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>pngdata/heart/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,525},{112,97}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,104}</string>
			</dict>
			<key>pngdata/heart/sbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,797},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>pngdata/heart/sbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,667},{128,128}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>pngdata/heart/sbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{228,206}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>pngdata/heart/sbg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,525},{119,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>pngdata/heart/sbg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,191},{218,211}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>resurgence/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,827},{71,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,62}</string>
			</dict>
			<key>sign/hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,707},{148,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,38}</string>
			</dict>
			<key>result/select.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,191},{35,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,26}</string>
			</dict>
			<key>result/selectbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,794},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>public/publicbtn16.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,286},{299,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,106}</string>
			</dict>
			<key>pngdata/heart/sbg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1},{283,286}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,330}</string>
			</dict>
			<key>public/n_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,742},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>pngdata/gift/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,873},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>public/publicbtn8.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,853},{136,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,59}</string>
			</dict>
			<key>public/n_numbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,794},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>choose_map/question2.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,797},{54,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_2.png</string>
			<key>realTextureFileName</key>
			<string>csi_2.png</string>
			<key>size</key>
			<string>{1015,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>