<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rank/add_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,966},{316,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,43}</string>
			</dict>
			<key>rank/anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,464},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>
			<key>rank/back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,661},{82,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,77}</string>
			</dict>
			<key>rank/bg_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,125},{293,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,127}</string>
			</dict>
			<key>rank/black1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,542},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>rank/black2.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,357},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>rank/black3.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,463},{61,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>
			<key>rank/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,740},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>rank/cup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,623},{79,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,92}</string>
			</dict>
			<key>rank/cup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,634},{79,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,92}</string>
			</dict>
			<key>rank/cup3.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,634},{79,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,92}</string>
			</dict>
			<key>rank/dianzan.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,902},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>rank/down_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,254},{116,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,101}</string>
			</dict>
			<key>rank/f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,835},{126,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,30}</string>
			</dict>
			<key>rank/f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{126,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,30}</string>
			</dict>
			<key>rank/frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,835},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>rank/frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,835},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>rank/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,664},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>rank/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,664},{116,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,39}</string>
			</dict>
			<key>rank/gift_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{61,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,21}</string>
			</dict>
			<key>rank/global_des.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,681},{341,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,31}</string>
			</dict>
			<key>rank/good.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,740},{142,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,72}</string>
			</dict>
			<key>rank/good_des.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,802},{377,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,31}</string>
			</dict>
			<key>rank/icon_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,884},{65,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,62}</string>
			</dict>
			<key>rank/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{114,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,15}</string>
			</dict>
			<key>rank/lose_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,463},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>rank/lose_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,869},{348,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,72}</string>
			</dict>
			<key>rank/lottery_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,966},{148,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,49}</string>
			</dict>
			<key>rank/lottery_watch_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{357,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,122}</string>
			</dict>
			<key>rank/lottery_watch_tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,684},{280,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,68}</string>
			</dict>
			<key>rank/more_friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1},{431,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,32}</string>
			</dict>
			<key>rank/n_lotteryicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,705},{31,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,36}</string>
			</dict>
			<key>rank/n_ranklist.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,351},{387,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{387,70}</string>
			</dict>
			<key>rank/no_enuugh.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,125},{414,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,58}</string>
			</dict>
			<key>rank/no_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1},{348,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,119}</string>
			</dict>
			<key>rank/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,117},{16,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>rank/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,174},{15,27}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>rank/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,146},{16,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>rank/playerlevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,500},{106,34}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,40}</string>
			</dict>
			<key>rank/rank_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,740},{385,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,60}</string>
			</dict>
			<key>rank/starbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,966},{134,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,54}</string>
			</dict>
			<key>rank/time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,464},{112,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
			<key>rank/total.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,966},{373,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,36}</string>
			</dict>
			<key>rank/up_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,403},{104,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,89}</string>
			</dict>
			<key>rank/watch_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,351},{331,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,51}</string>
			</dict>
			<key>resurgence/five.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,254},{174,147}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,148}</string>
			</dict>
			<key>game/lockicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,867},{59,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,66}</string>
			</dict>
			<key>effect/chooose/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,465},{114,77}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light10.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,526},{114,77}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light11.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,464},{113,76}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light12.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,519},{113,76}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light13.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,403},{114,77}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light14.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,494},{114,77}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light15.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,544},{114,77}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,383},{116,78}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,383},{116,78}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{118,79}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,658},{118,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,536},{120,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,541},{121,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light8.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,541},{121,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>effect/chooose/light9.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,383},{119,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,80}</string>
			</dict>
			<key>game/targetboxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,434},{162,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,45}</string>
			</dict>
			<key>game/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,512},{26,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,25}</string>
			</dict>
			<key>honor/honornumbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,928},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>
			<key>honor/honoricon_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,512},{28,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>jctg/moreicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,573},{86,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>jctg/moredes.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,598},{81,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,30}</string>
			</dict>
			<key>jctg/jctg_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,902},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>rank/imggifticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,380}</string>
			</dict>
			<key>rank/bg_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,740},{293,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,127}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_4.png</string>
			<key>realTextureFileName</key>
			<string>csi_4.png</string>
			<key>size</key>
			<string>{1024,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>