<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guide/hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,758},{114,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,145}</string>
			</dict>
			<key>rank/piaodai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{603,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{603,150}</string>
			</dict>
			<key>rank/win_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{537,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{537,92}</string>
			</dict>
			<key>shop/n_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{331,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,189}</string>
			</dict>
			<key>game/not_enough.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,433},{302,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,129}</string>
			</dict>
			<key>sign/parachute2.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,292},{223,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,258}</string>
			</dict>
			<key>jctg/jctg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,818},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,818},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>game/claim_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,915},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>game/collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,873},{140,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>choose_map/n_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,244},{101,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,30}</string>
			</dict>
			<key>game/resultdiamondbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,762},{192,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,104}</string>
			</dict>
			<key>lottery/n_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,244},{102,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,29}</string>
			</dict>
			<key>game/s_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,244},{101,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,30}</string>
			</dict>
			<key>game/s_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,153},{98,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,30}</string>
			</dict>
			<key>shop/des.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,413},{528,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{528,29}</string>
			</dict>
			<key>shop/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{410,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,44}</string>
			</dict>
			<key>public/publicbtn33.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,943},{186,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,79}</string>
			</dict>
			<key>element/light_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1},{276,276}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>
			<key>choose_map/downbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{460,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,79}</string>
			</dict>
			<key>public/publicbtn34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,279},{398,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,152}</string>
			</dict>
			<key>public/menulevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,873},{163,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,51}</string>
			</dict>
			<key>fnt/fnttype47_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,253},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>fnt/fnttype47_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,517},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>
			<key>fnt/fnttype47_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,868},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>fnt/fnttype47_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,868},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>fnt/fnttype47_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,517},{36,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,51}</string>
			</dict>
			<key>fnt/fnttype47_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,517},{36,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,51}</string>
			</dict>
			<key>fnt/fnttype47_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,556},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>fnt/fnttype47_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,556},{34,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,51}</string>
			</dict>
			<key>fnt/fnttype47_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,540},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>fnt/fnttype47_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,556},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>public/returnbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,471},{83,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,86}</string>
			</dict>
			<key>choose_map/tipsbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,253},{366,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,127}</string>
			</dict>
			<key>choose_map/tipsbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,943},{285,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,60}</string>
			</dict>
			<key>sign/parachute1.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,593},{223,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,258}</string>
			</dict>
			<key>game/evilreduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,279},{102,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,89}</string>
			</dict>
			<key>choose_map/powercount.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,943},{74,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,49}</string>
			</dict>
			<key>choose_map/shopnew.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,517},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>shop/price5.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,532},{101,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,36}</string>
			</dict>
			<key>shop/price.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,943},{80,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,27}</string>
			</dict>
			<key>shop/saleicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,621},{135,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,166}</string>
			</dict>
			<key>public/publicbtn35.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,153},{256,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,98}</string>
			</dict>
			<key>element/icecream.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,540},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>element/icecream_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,383},{88,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>public/publicbtn27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{238,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,97}</string>
			</dict>
			<key>pngdata/monster4/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,433},{27,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,47}</string>
			</dict>
			<key>pngdata/monster4/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,697},{63,30}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,54}</string>
			</dict>
			<key>pngdata/monster4/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,635},{60,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,46}</string>
			</dict>
			<key>pngdata/monster4/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,559},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>pngdata/monster4/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,556},{34,35}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>pngdata/monster4/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,1005},{62,17}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,20}</string>
			</dict>
			<key>pngdata/monster4/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,915},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,29}</string>
			</dict>
			<key>shop/shop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{311,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,89}</string>
			</dict>
			<key>resurgence/three.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,818},{117,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_6.png</string>
			<key>realTextureFileName</key>
			<string>csi_6.png</string>
			<key>size</key>
			<string>{1023,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>