<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>choose_map/big_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,685},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,67}</string>
			</dict>
			<key>choose_map/blue_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,572},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,584},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,618},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,588},{36,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,543},{41,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,547},{41,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,896},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,936},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,976},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,896},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,909},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,936},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,526},{36,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,566},{36,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,816},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,856},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,839},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,457},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,825},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/blue_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,867},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>choose_map/btnAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,835},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>choose_map/choose_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,595},{90,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>choose_map/choose_btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,425},{113,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,125}</string>
			</dict>
			<key>choose_map/free.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,839},{68,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,32}</string>
			</dict>
			<key>choose_map/freegift.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,173},{79,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>choose_map/gray_choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,367},{88,77}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,106}</string>
			</dict>
			<key>choose_map/gray_choose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,552},{105,94}}</string>
				<key>offset</key>
				<string>{4,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,125}</string>
			</dict>
			<key>choose_map/honor.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,703},{116,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,120}</string>
			</dict>
			<key>choose_map/levelbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,428},{139,150}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,155}</string>
			</dict>
			<key>choose_map/leveliconbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,490},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>choose_map/limitpower.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,264},{83,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,74}</string>
			</dict>
			<key>choose_map/lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,721},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>choose_map/n_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,500},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>choose_map/n_diamond_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,751},{194,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,63}</string>
			</dict>
			<key>choose_map/power.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,754},{66,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,60}</string>
			</dict>
			<key>choose_map/purple_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,620},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,620},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,573},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,503},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,457},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,685},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,733},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,685},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,733},{46,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,457},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,502},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,497},{42,44}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,526},{42,44}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,896},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,751},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,526},{44,45}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,526},{44,45}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,685},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/purple_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,733},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>choose_map/question.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,256},{140,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,170}</string>
			</dict>
			<key>choose_map/reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,716},{121,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,117}</string>
			</dict>
			<key>choose_map/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,174},{83,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,90}</string>
			</dict>
			<key>choose_map/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,596},{116,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,123}</string>
			</dict>
			<key>choose_map/signin.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,253},{82,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,76}</string>
			</dict>
			<key>choose_map/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,457},{43,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,38}</string>
			</dict>
			<key>choose_map/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,606},{37,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,34}</string>
			</dict>
			<key>choose_map/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,581},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>choose_map/star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,980},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>guide/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,256},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>guide/pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,551},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>guide/rect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,893},{171,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,85}</string>
			</dict>
			<key>guide/rect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,256},{85,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,167}</string>
			</dict>
			<key>guide/rect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,173},{169,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,253}</string>
			</dict>
			<key>guide/rect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1},{254,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,253}</string>
			</dict>
			<key>guide/rect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{422,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,171}</string>
			</dict>
			<key>guide/rect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1},{85,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,336}</string>
			</dict>
			<key>guide/rect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,551},{131,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,132}</string>
			</dict>
			<key>guide/rect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,339},{84,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,254}</string>
			</dict>
			<key>guide/rect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1},{253,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,170}</string>
			</dict>
			<key>get_reward/get_tool.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,816},{248,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,75}</string>
			</dict>
			<key>get_reward/n_dem.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,428},{144,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,121}</string>
			</dict>
			<key>get_reward/n_luckygift.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,950},{287,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,59}</string>
			</dict>
			<key>get_reward/n_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,896},{58,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>get_reward/n_rewardbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,896},{438,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,118}</string>
			</dict>
			<key>get_reward/n_watchicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,975},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>get_reward/n_watchimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,895},{108,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,26}</string>
			</dict>
			<key>get_reward/watchtxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,980},{134,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,26}</string>
			</dict>
			<key>invite/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,580},{116,134}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,148}</string>
			</dict>
			<key>invite/tittle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,816},{361,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,70}</string>
			</dict>
			<key>lottery/free.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,781},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>lottery/n_rewardok.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,581},{55,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,37}</string>
			</dict>
			<key>others/head1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,330},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,410},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,340},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head4.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,420},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>others/head5.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,446},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shop/addimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,894},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>shop/diamond_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,825},{85,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,69}</string>
			</dict>
			<key>shop/n_paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,648},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>shop/normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{209,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,64}</string>
			</dict>
			<key>shop/numberbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,774},{120,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>public/publicbtn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{238,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,88}</string>
			</dict>
			<key>public/y_again.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,835},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>game/monster.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,173},{1,1}}</string>
				<key>offset</key>
				<string>{41,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>public/n_choosebg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,174},{178,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,191}</string>
			</dict>
			<key>public/n_choosebg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,174},{156,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,191}</string>
			</dict>
			<key>choose_map/blue_13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,685},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>choose_map/blue_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,733},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_1.png</string>
			<key>realTextureFileName</key>
			<string>csi_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>