<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/starbox/iconeff_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1003},{50,12}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,14}</string>
			</dict>
			<key>pngdata/starbox/iconeff_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,188},{107,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,67}</string>
			</dict>
			<key>pngdata/starbox/iconeff_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,949},{113,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,71}</string>
			</dict>
			<key>pngdata/starbox/iconeff_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1003},{15,48}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,50}</string>
			</dict>
			<key>pngdata/starbox/iconeff_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{14,58}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,60}</string>
			</dict>
			<key>pngdata/starbox/iconeff_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,627},{64,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,53}</string>
			</dict>
			<key>pngdata/starbox/iconeff_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,999},{16,18}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,19}</string>
			</dict>
			<key>pngdata/starbox/iconeff_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,399},{18,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,6}</string>
			</dict>
			<key>pngdata/starbox/iconeff_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,399},{14,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,6}</string>
			</dict>
			<key>pngdata/starbox/iconeff_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,755},{13,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,12}</string>
			</dict>
			<key>pngdata/starbox/iconeff_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,987},{74,36}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,37}</string>
			</dict>
			<key>pngdata/starbox/iconeff_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,987},{13,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,21}</string>
			</dict>
			<key>pngdata/starbox/iconeff_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,863},{59,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,27}</string>
			</dict>
			<key>pngdata/starbox/iconeff_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,999},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>pngdata/starbox/iconeff_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,617},{113,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,67}</string>
			</dict>
			<key>pngdata/starbox/iconeff_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,128},{108,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,72}</string>
			</dict>
			<key>pngdata/starbox/iconeff_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,311},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>pngdata/starbox/iconeff_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,738},{114,123}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,134}</string>
			</dict>
			<key>pngdata/starbox/iconeff_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,733},{77,78}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,108}</string>
			</dict>
			<key>pngdata/starbox/iconeff_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,770},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>pngdata/targetbox/mapstar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,308},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>pngdata/targetbox/mapstar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,409},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/targetbox/mapstar3.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,848},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>
			<key>pngdata/targetbox/mapstar4.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,461},{141,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,146}</string>
			</dict>
			<key>pngdata/targetbox/mapstar5.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,350},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>pngdata/targetbox/mapstar6.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,999},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>pngdata/targetbox/mapstar7.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,863},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>pngdata/targetbox/starbox1.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,863},{34,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/targetbox/starbox2.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,627},{104,105}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,118}</string>
			</dict>
			<key>pngdata/targetbox/starbox3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,128},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,173}</string>
			</dict>
			<key>pngdata/targetbox/targetbox3.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,987},{13,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>pngdata/targetbox/targetboxkey1.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,607},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>pngdata/targetbox/targetboxkey2.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,186},{47,47}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>pngdata/targetbox/targetboxkey3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,738},{9,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,15}</string>
			</dict>
			<key>pngdata/targetbox/targetboxkey6.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,616},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>pngdata/targetbox/targetboxkey7.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,311},{93,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,99}</string>
			</dict>
			<key>pngdata/levelbox/transmission1.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1},{185,187}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight10.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,406},{59,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight11.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,790},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,53}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight12.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,394},{67,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight13.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,567},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight14.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,235},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight15.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,927},{47,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,72}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight7.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,848},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight8.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,391},{53,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,59}</string>
			</dict>
			<key>pngdata/lotterylight/lotterylight9.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,693},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>pngdata/merge/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>
			<key>pngdata/merge/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,556},{53,53}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>weekgame/weekgamemenuprogressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1},{465,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{465,28}</string>
			</dict>
			<key>weekgame/weekgamemenuscorebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,128},{189,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,126}</string>
			</dict>
			<key>weekgame/weekgamerankitembg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{345,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,125}</string>
			</dict>
			<key>weekgame/weekgamerankitembg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1},{345,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,125}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n4.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,738},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n5.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,465},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>public/publicbtn24.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,689},{230,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,98}</string>
			</dict>
			<key>public/publicbtn25.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,679},{268,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,97}</string>
			</dict>
			<key>public/share.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,684},{54,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>
			<key>public/watchicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,128},{56,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,48}</string>
			</dict>
			<key>public/invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,737},{54,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>
			<key>choose_map/invitedes1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,128},{437,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,31}</string>
			</dict>
			<key>choose_map/invitedes1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,128},{279,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,31}</string>
			</dict>
			<key>choose_map/invitedes2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,406},{453,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,34}</string>
			</dict>
			<key>choose_map/invitedes2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,399},{288,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,34}</string>
			</dict>
			<key>choose_map/n_kh.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,921},{38,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,26}</string>
			</dict>
			<key>choose_map/n_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,900},{94,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,29}</string>
			</dict>
			<key>public/n_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,511},{104,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,29}</string>
			</dict>
			<key>choose_map/love.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,128},{163,143}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,143}</string>
			</dict>
			<key>choose_map/y_kh.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,585},{38,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,26}</string>
			</dict>
			<key>game/claim.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,399},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>public/n_close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,738},{187,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,36}</string>
			</dict>
			<key>sign/watchdes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,442},{370,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,21}</string>
			</dict>
			<key>choose_map/b_watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,987},{98,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,30}</string>
			</dict>
			<key>fnt/fnttype45_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,556},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/fnttype45_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,1003},{20,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,37}</string>
			</dict>
			<key>fnt/fnttype45_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,595},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/fnttype45_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,311},{28,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>fnt/fnttype45_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,468},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/fnttype45_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,507},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/fnttype45_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,556},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>fnt/fnttype45_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,284},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>fnt/fnttype45_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,546},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>fnt/fnttype45_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,634},{26,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,37}</string>
			</dict>
			<key>public/publicbtn29.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{308,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,109}</string>
			</dict>
			<key>public/publicbtn30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{308,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,109}</string>
			</dict>
			<key>public/invite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,886},{65,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,61}</string>
			</dict>
			<key>public/watchicon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,556},{66,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,58}</string>
			</dict>
			<key>game/relivecontinue.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,949},{219,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,36}</string>
			</dict>
			<key>game/relivediamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,886},{47,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,40}</string>
			</dict>
			<key>game/relivefive.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,394},{74,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,66}</string>
			</dict>
			<key>game/watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,256},{136,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,40}</string>
			</dict>
			<key>game/invited.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,900},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>rank/home.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,256},{133,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,40}</string>
			</dict>
			<key>rank/replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>jctg/jctg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,188},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,728},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,848},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>choose_map/headicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,733},{83,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,82}</string>
			</dict>
			<key>choose_map/paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{354,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,93}</string>
			</dict>
			<key>public/publicbtn28.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,399},{278,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,97}</string>
			</dict>
			<key>public/publicbtn31.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,311},{268,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,86}</string>
			</dict>
			<key>public/publicbtn32.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,465},{268,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,86}</string>
			</dict>
			<key>get_reward/get_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,442},{294,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,72}</string>
			</dict>
			<key>public/publicbtn9.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,468},{188,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,86}</string>
			</dict>
			<key>public/publicbtn26.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,921},{230,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi_5.png</string>
			<key>realTextureFileName</key>
			<string>csi_5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>