<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/pudding_bomb_effect/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,345},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{111,109}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,717},{112,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,137},{113,111}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,717},{114,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b14.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,274},{115,111}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b15.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,222},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,221},{71,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,939},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,666},{101,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,921},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,919},{109,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,226},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,114},{110,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1},{111,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,340},{34,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g10.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,810},{109,106}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g11.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,232},{111,109}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g12.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,481},{112,109}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g13.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,252},{112,109}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g14.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,602},{113,110}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g15.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,538},{108,96}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,477},{69,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g3.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,441},{95,83}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g4.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,735},{101,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g5.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,334},{105,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g6.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,225},{107,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g7.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,698},{109,106}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g8.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,587},{109,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/g9.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,809},{108,106}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,345},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red10.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,118},{112,109}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,602},{113,111}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{114,112}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red13.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,258},{114,111}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red14.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,141},{115,111}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red15.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,110},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,285},{71,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red3.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,376},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red4.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,541},{102,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red5.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,113},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red6.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,573},{109,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red7.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,113},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red8.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1},{110,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/red9.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,114},{111,109}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,340},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y10.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,713},{111,108}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y11.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,831},{112,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y12.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,833},{113,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{114,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y14.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1},{115,110}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y15.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,413},{70,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y3.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,333},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y4.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,769},{101,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y5.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,447},{106,101}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y6.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,338},{107,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y7.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y8.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,462},{109,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/y9.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,826},{111,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,340},{34,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p10.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,474},{111,108}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p11.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,599},{112,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p12.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,484},{113,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p13.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,717},{114,110}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p14.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{115,110}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p15.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,555},{109,97}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,349},{71,62}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,430},{95,84}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p4.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,636},{102,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p5.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p6.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,462},{109,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p7.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,698},{110,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p8.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,587},{110,107}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/pudding_bomb_effect/p9.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,227},{111,108}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>result/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,948},{189,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,40}</string>
			</dict>
			<key>result/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{155,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,53}</string>
			</dict>
			<key>result/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>
			<key>result/n_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,274},{210,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,70}</string>
			</dict>
			<key>result/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,374},{150,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,48}</string>
			</dict>
			<key>result/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,424},{150,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,48}</string>
			</dict>
			<key>result/replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,391},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>result/smal_star_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,141},{126,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,131}</string>
			</dict>
			<key>pngdata/monster/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,403},{115,57}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,75}</string>
			</dict>
			<key>pngdata/monster/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,939},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>pngdata/monster/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,445},{34,35}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>pngdata/monster/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,939},{28,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>pngdata/monster/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,969},{29,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
			<key>pngdata/monster/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,990},{27,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,47}</string>
			</dict>
			<key>pngdata/monster/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,990},{26,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,54}</string>
			</dict>
			<key>pngdata/monster/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,118},{62,17}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,20}</string>
			</dict>
			<key>pngdata/monster1/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,977},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>pngdata/monster1/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,366},{34,35}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,40}</string>
			</dict>
			<key>pngdata/monster1/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,969},{28,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>pngdata/monster1/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,345},{29,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
			<key>pngdata/monster1/png30.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,990},{27,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,47}</string>
			</dict>
			<key>pngdata/monster1/png31.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,990},{26,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,54}</string>
			</dict>
			<key>pngdata/monster1/png32.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,445},{52,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,42}</string>
			</dict>
			<key>pngdata/monster1/png33.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,445},{53,35}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,43}</string>
			</dict>
			<key>pngdata/monster2/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,118},{62,17}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,20}</string>
			</dict>
			<key>pngdata/monster3/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,445},{59,37}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>pngdata/monster3/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,118},{62,17}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist1.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist1.png</string>
			<key>size</key>
			<string>{1017,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>