<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/ice_pudding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,469},{115,115}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,220},{209,215}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1},{208,208}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,435},{204,209}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,646},{197,193}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb14.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,646},{187,191}}</string>
				<key>offset</key>
				<string>{-8,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,220},{208,213}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,687},{219,223}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{223,226}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{223,228}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,459},{221,226}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,687},{216,222}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,459},{212,218}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/ice_pudding/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1},{210,217}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>effect/magic_stick/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,912},{69,77}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,912},{73,83}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,211},{137,137}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,845},{144,144}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,845},{145,144}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,839},{143,143}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,435},{140,138}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,350},{117,120}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,912},{116,111}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/magic_stick/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,911},{112,114}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightelementimglist4.png</string>
			<key>realTextureFileName</key>
			<string>fightelementimglist4.png</string>
			<key>size</key>
			<string>{905,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>905</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>