<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/fly_pudiding/bombpoint18.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1},{156,170}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint19.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,173},{156,170}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,896},{81,67}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint3.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{89,58}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint4.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,459},{96,50}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint5.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,459},{103,44}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint6.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,795},{106,99}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint7.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1},{137,130}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint8.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,621},{174,175}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint9.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,339},{176,176}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/tail1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,969},{50,148}}</string>
				<key>offset</key>
				<string>{-3,-116}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail10.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,563},{52,318}}</string>
				<key>offset</key>
				<string>{-3,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail11.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,572},{47,330}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail12.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,975},{47,330}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail13.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,386},{48,302}}</string>
				<key>offset</key>
				<string>{-2,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail14.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,143},{48,302}}</string>
				<key>offset</key>
				<string>{-2,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail15.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,803},{10,73}}</string>
				<key>offset</key>
				<string>{-2,138}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail16.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,815},{10,73}}</string>
				<key>offset</key>
				<string>{-2,138}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail2.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,61},{51,211}}</string>
				<key>offset</key>
				<string>{-3,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail3.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,505},{51,268}}</string>
				<key>offset</key>
				<string>{-2,-56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail4.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,331},{53,302}}</string>
				<key>offset</key>
				<string>{-3,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail5.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,517},{53,324}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail6.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,133},{53,324}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail7.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,459},{50,334}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail8.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,511},{50,334}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/fly_pudiding/tail9.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,133},{52,318}}</string>
				<key>offset</key>
				<string>{-3,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,380}</string>
			</dict>
			<key>effect/flyfly/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1},{139,140}}</string>
				<key>offset</key>
				<string>{7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,798},{174,175}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,798},{176,169}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,617},{176,169}}</string>
				<key>offset</key>
				<string>{9,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1},{170,156}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb14.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,173},{170,156}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{205,212}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{271,280}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{327,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,621},{173,180}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,803},{173,180}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{176,177}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,835},{176,177}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
			<key>effect/flyfly/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,621},{174,175}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,336}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist3.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist3.png</string>
			<key>size</key>
			<string>{1024,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>