<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/color_pudding/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,591},{146,142}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1},{143,142}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1},{146,142}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,296},{145,145}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,148},{146,146}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,443},{146,143}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,1},{145,143}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/light8.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1},{148,145}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/color_pudding/line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{62,600}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,603},{61,600}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{60,600}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,917},{60,600}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line5.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{59,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,666},{61,600}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{61,600}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/line8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{61,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,600}</string>
			</dict>
			<key>effect/color_pudding/standby1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,367},{116,119}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby10.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,267},{120,119}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby11.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,288},{118,119}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby12.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,396},{116,117}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby2.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,276},{118,121}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby3.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,245},{116,120}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby4.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,388},{120,118}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby5.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,124},{119,117}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby6.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,300},{117,115}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby7.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,408},{115,117}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby8.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1},{116,121}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/color_pudding/standby9.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,146},{119,121}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,979},{32,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,930},{107,91}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect11.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1},{106,90}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect12.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1},{105,80}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect13.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,108},{103,80}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,951},{60,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,213},{91,85}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,652},{97,88}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,321},{99,90}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,109},{103,90}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,930},{105,91}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,214},{105,91}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/publiceffect/clickeffect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,443},{105,91}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/collect/collect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,550},{100,88}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,603},{178,170}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect11.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,775},{174,172}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect12.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,145},{153,129}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,145},{141,126}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,775},{168,153}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/hammer/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,417},{107,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,488},{108,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist8.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist8.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>