<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/bomb_pudding/bombbomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,352},{175,174}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/bombbomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,176},{176,176}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/bombbomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{173,180}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/bombbomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1},{173,180}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/bombbomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,173},{176,177}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/bombbomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1},{176,177}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/bombbomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,176},{174,176}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bomb_pudding/fire1.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,844},{59,55}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effect/bomb_pudding/fire2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,925},{59,55}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effect/bomb_pudding/fire3.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,982},{46,40}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effect/bomb_pudding/fire4.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,938},{46,40}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effect/bomb_pudding/fire5.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,830},{47,61}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effect/bomb_pudding/fire6.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,893},{47,61}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,95}</string>
			</dict>
			<key>effect/flybomb/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,173},{117,78}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,351},{172,170}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,347},{176,170}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,519},{173,168}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{172,168}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,693},{173,163}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb15.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,689},{175,163}}</string>
				<key>offset</key>
				<string>{2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb16.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,692},{173,153}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb17.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,712},{170,153}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb18.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1},{170,78}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,868},{142,131}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,701},{167,141}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,866},{167,154}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,179},{200,154}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{200,170}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,354},{179,170}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{179,177}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/flybomb/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,528},{172,171}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,177}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,847},{94,85}}</string>
				<key>offset</key>
				<string>{-4,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,117}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,452},{109,97}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,117}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,711},{131,117}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,117}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,563},{146,111}}</string>
				<key>offset</key>
				<string>{-7,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,117}</string>
			</dict>
			<key>effect/rainbow_pudding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,292},{158,102}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,117}</string>
			</dict>
			<key>effect/collect/collect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,549},{178,161}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,526},{181,164}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,180},{183,165}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,381},{180,166}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/hammer/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,956},{47,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,925},{93,91}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,844},{95,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,830},{96,93}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist7.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist7.png</string>
			<key>size</key>
			<string>{1022,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>