<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/resultui/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1021},{1,1}}</string>
				<key>offset</key>
				<string>{116,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,54}</string>
			</dict>
			<key>pngdata/resultui/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,351},{154,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,151}</string>
			</dict>
			<key>pngdata/resultui/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,543},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>pngdata/resultui/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1},{158,160}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,163}</string>
			</dict>
			<key>pngdata/resultui/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,425},{59,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>pngdata/resultui/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,50},{20,11}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,15}</string>
			</dict>
			<key>pngdata/resultui/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,93},{156,155}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,173}</string>
			</dict>
			<key>pngdata/resultui/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,93},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>pngdata/resultui/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,161},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>pngdata/resultui/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,486},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>pngdata/resultui/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1},{196,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,156}</string>
			</dict>
			<key>pngdata/resultui/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,522},{384,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,144}</string>
			</dict>
			<key>pngdata/resultui/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,1021},{1,1}}</string>
				<key>offset</key>
				<string>{86,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,66}</string>
			</dict>
			<key>pngdata/resultui/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,1021},{1,1}}</string>
				<key>offset</key>
				<string>{86,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,66}</string>
			</dict>
			<key>pngdata/resultui/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,1021},{1,1}}</string>
				<key>offset</key>
				<string>{142,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,90}</string>
			</dict>
			<key>pngdata/resultui/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,397},{118,120}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>pngdata/resultui/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{472,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{472,117}</string>
			</dict>
			<key>pngdata/resultui/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,259},{90,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,274}</string>
			</dict>
			<key>pngdata/resultui/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1},{90,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,274}</string>
			</dict>
			<key>pngdata/resultui/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,234},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>pngdata/result/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{261,261}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,293}</string>
			</dict>
			<key>pngdata/result/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,312},{84,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>pngdata/result/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,458},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/result/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,458},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/result/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,517},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/result/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,351},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/result/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,166},{26,26}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>pngdata/result/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,30},{18,18}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>pngdata/monster/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,199},{43,24}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,27}</string>
			</dict>
			<key>pngdata/monster/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,990},{31,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,53}</string>
			</dict>
			<key>pngdata/monster/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,990},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,54}</string>
			</dict>
			<key>pngdata/monster/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,187},{34,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,47}</string>
			</dict>
			<key>pngdata/monster/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,53},{34,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,48}</string>
			</dict>
			<key>pngdata/monster/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,161},{68,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,54}</string>
			</dict>
			<key>pngdata/monster/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,354},{69,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,85}</string>
			</dict>
			<key>pngdata/monster/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,990},{30,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>pngdata/monster/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,990},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,46}</string>
			</dict>
			<key>pngdata/monster/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,231},{45,28}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,35}</string>
			</dict>
			<key>pngdata/monster/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,101},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,29}</string>
			</dict>
			<key>pngdata/monster/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,199},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,29}</string>
			</dict>
			<key>pngdata/monster/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1},{27,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,16}</string>
			</dict>
			<key>pngdata/monster/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,127},{52,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>pngdata/monster/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1},{124,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>pngdata/monster/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,502},{145,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,146}</string>
			</dict>
			<key>pngdata/monster/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,482},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,38}</string>
			</dict>
			<key>pngdata/brush/bucket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,517},{148,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>
			<key>pngdata/brush/bucket2.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1021},{12,1}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,2}</string>
			</dict>
			<key>pngdata/brush/bucket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,264},{256,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,297}</string>
			</dict>
			<key>pngdata/brush/flypudding1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1},{34,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>pngdata/brush/flypudding2.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,199},{36,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,73}</string>
			</dict>
			<key>pngdata/brush/flypudding3.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,93},{36,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,73}</string>
			</dict>
			<key>pngdata/brush/goodpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,264},{296,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,103}</string>
			</dict>
			<key>pngdata/brush/goodpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,369},{309,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,87}</string>
			</dict>
			<key>pngdata/brush/goodpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,908},{330,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,80}</string>
			</dict>
			<key>pngdata/brush/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,251},{75,101}}</string>
				<key>offset</key>
				<string>{-8,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>pngdata/monster2/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,161},{125,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,44}</string>
			</dict>
			<key>pngdata/monster2/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{54,27}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>
			<key>pngdata/monster2/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,458},{115,57}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,75}</string>
			</dict>
			<key>pngdata/monster2/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,990},{31,46}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>pngdata/monster2/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,486},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,46}</string>
			</dict>
			<key>pngdata/monster2/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,996},{62,23}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,25}</string>
			</dict>
			<key>pngdata/monster2/pnng24.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,436},{51,44}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,49}</string>
			</dict>
			<key>pngdata/monster3/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,990},{43,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>pngdata/monster3/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,990},{44,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,32}</string>
			</dict>
			<key>pngdata/monster3/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,187},{123,68}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,74}</string>
			</dict>
			<key>pngdata/monster3/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,127},{52,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>pngdata/monster3/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,225},{23,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,45}</string>
			</dict>
			<key>pngdata/monster3/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,224},{27,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>pngdata/monster3/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,231},{26,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>pngdata/monster3/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,224},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>pngdata/monster3/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,199},{108,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,59}</string>
			</dict>
			<key>pngdata/monster3/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,72},{17,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,9}</string>
			</dict>
			<key>pngdata/monster3/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,199},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,29}</string>
			</dict>
			<key>pngdata/monster2/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,199},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist4.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>