<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,391},{85,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,8}</string>
			</dict>
			<key>game/choosebubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,891},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,121}</string>
			</dict>
			<key>game/corner1.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,478},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>game/corner2.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,488},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>game/diamondbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,221},{198,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,78}</string>
			</dict>
			<key>game/item_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1},{80,218}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,220}</string>
			</dict>
			<key>game/light_oo.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,212},{183,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,183}</string>
			</dict>
			<key>game/loseannimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{209,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,279}</string>
			</dict>
			<key>game/max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{74,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,23}</string>
			</dict>
			<key>game/more_times_today.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{398,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,72}</string>
			</dict>
			<key>game/music_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,553},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>game/music_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,512},{128,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,36}</string>
			</dict>
			<key>game/n_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,216},{173,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,29}</string>
			</dict>
			<key>game/n_itemadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,930},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>game/n_paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,785},{119,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,121}</string>
			</dict>
			<key>game/n_progressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1},{213,213}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,251}</string>
			</dict>
			<key>game/n_progressbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,216},{180,178}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,187}</string>
			</dict>
			<key>game/n_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,512},{117,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,39}</string>
			</dict>
			<key>game/null_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,986},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>game/ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,930},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,48}</string>
			</dict>
			<key>game/pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,479},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>game/pause_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,212},{195,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,55}</string>
			</dict>
			<key>game/pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,986},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>game/result_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,212},{36,204}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,256}</string>
			</dict>
			<key>game/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,512},{100,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,22}</string>
			</dict>
			<key>game/scoredi.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,391},{119,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,22}</string>
			</dict>
			<key>game/sound_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,930},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>game/sound_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,631},{118,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,36}</string>
			</dict>
			<key>game/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{364,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,238}</string>
			</dict>
			<key>effect/fly_pudiding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,421},{88,89}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,642},{103,117}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,891},{123,123}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,744},{145,146}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,751},{148,144}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,785},{139,149}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,614},{132,149}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,614},{130,141}}</string>
				<key>offset</key>
				<string>{-4,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,757},{123,132}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{111,117}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,401},{73,76}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint10.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,241},{180,173}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,416},{180,173}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint12.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,396},{177,176}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,751},{177,176}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint14.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,416},{176,174}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint15.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,397},{176,174}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint16.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,573},{169,177}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/fly_pudiding/bombpoint17.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,614},{169,177}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist2.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist2.png</string>
			<key>size</key>
			<string>{1024,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>