<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/broom/kill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,959},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill10.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,797},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill2.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,863},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill3.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,929},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill4.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,203},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill5.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,580},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill6.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,405},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill7.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,471},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill8.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,537},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/broom/kill9.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,603},{375,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,64}</string>
			</dict>
			<key>effect/bucket/star6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star5.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star4.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/bucket/star10.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/ice_pudding/grow_up7.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,635},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up8.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,797},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up9.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,635},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/cheese_pudding/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,405},{228,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,167}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightelementimglist2.png</string>
			<key>realTextureFileName</key>
			<string>fightelementimglist2.png</string>
			<key>size</key>
			<string>{1022,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>