<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/cage/break1.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,204},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>effect/cage/break2.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,459},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>effect/cage/break3.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,555},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>effect/cage/break4.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,651},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>effect/cage/break5.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,747},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>effect/cage/break6.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,459},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>effect/cheese_pudding/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{228,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,167}</string>
			</dict>
			<key>effect/cheese_pudding/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,680},{228,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,167}</string>
			</dict>
			<key>effect/cheese_pudding/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,450},{228,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,167}</string>
			</dict>
			<key>effect/cheese_pudding/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,680},{228,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,167}</string>
			</dict>
			<key>effect/cheese_pudding/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,204},{228,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,167}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,910},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,910},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,910},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,910},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,758},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,758},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,690},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,790},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,690},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,890},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,790},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,883},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,883},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,366},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{244,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,201}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1},{244,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,201}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{244,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,201}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1},{244,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,201}</string>
			</dict>
			<key>effect/chocolate_pudding/chocolate3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,204},{244,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,201}</string>
			</dict>
			<key>effect/ice_pudding/grow_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,434},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up10.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,204},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up11.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,596},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up12.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,858},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up13.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,366},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up14.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,204},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up15.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,528},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,690},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up3.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,852},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up4.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,366},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up5.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,204},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/ice_pudding/grow_up6.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,528},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightelementimglist1.png</string>
			<key>realTextureFileName</key>
			<string>fightelementimglist1.png</string>
			<key>size</key>
			<string>{1016,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>