<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rank/down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,528},{601,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,197}</string>
			</dict>
			<key>rank/up_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,318},{601,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,197}</string>
			</dict>
			<key>rank/rank_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{720,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,315}</string>
			</dict>
			<key>pngdata/uprank/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{525,255}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{586,303}</string>
			</dict>
			<key>pngdata/uprank/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,1},{43,63}}</string>
				<key>offset</key>
				<string>{-20,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,699},{47,63}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,645},{52,63}}</string>
				<key>offset</key>
				<string>{34,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,588},{55,63}}</string>
				<key>offset</key>
				<string>{61,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,66},{42,63}}</string>
				<key>offset</key>
				<string>{81,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,196},{37,63}}</string>
				<key>offset</key>
				<string>{83,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,512},{74,77}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>
			<key>pngdata/uprank/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,326},{32,62}}</string>
				<key>offset</key>
				<string>{86,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,390},{26,52}}</string>
				<key>offset</key>
				<string>{89,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,444},{21,40}}</string>
				<key>offset</key>
				<string>{91,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,390},{15,28}}</string>
				<key>offset</key>
				<string>{94,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,326},{9,17}}</string>
				<key>offset</key>
				<string>{97,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,444},{20,58}}</string>
				<key>offset</key>
				<string>{-91,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,261},{35,63}}</string>
				<key>offset</key>
				<string>{-72,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>pngdata/uprank/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,131},{40,63}}</string>
				<key>offset</key>
				<string>{-46,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n7.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,690},{160,159}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n8.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,690},{153,156}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n9.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,318},{117,112}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n1.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,432},{78,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n2.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,845},{155,142}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n3.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,528},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>effect/pudding_bomb_effect/n6.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,528},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist9.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist9.png</string>
			<key>size</key>
			<string>{1024,1001}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1001</integer>
		</dict>
	</dict>
</plist>