<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/brush/jellyboom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,686},{134,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,147}</string>
			</dict>
			<key>pngdata/brush/jellyboom10.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,781},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,116}</string>
			</dict>
			<key>pngdata/brush/jellyboom11.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,389},{153,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>pngdata/brush/jellyboom12.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,437},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>pngdata/brush/jellyboom13.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,560},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>pngdata/brush/jellyboom14.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,391},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>pngdata/brush/jellyboom15.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,481},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,28}</string>
			</dict>
			<key>pngdata/brush/jellyboom16.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,391},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,46}</string>
			</dict>
			<key>pngdata/brush/jellyboom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,655},{124,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,131}</string>
			</dict>
			<key>pngdata/brush/jellyboom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{93,117}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,118}</string>
			</dict>
			<key>pngdata/brush/jellyboom4.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,822},{101,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,110}</string>
			</dict>
			<key>pngdata/brush/jellyboom5.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,662},{92,104}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,106}</string>
			</dict>
			<key>pngdata/brush/jellyboom6.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,918},{96,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,111}</string>
			</dict>
			<key>pngdata/brush/jellyboom7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{565,355}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,374}</string>
			</dict>
			<key>pngdata/brush/jellyboom8.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,238},{398,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,96}</string>
			</dict>
			<key>pngdata/brush/jellyboom9.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,768},{113,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,123}</string>
			</dict>
			<key>pngdata/colorslm/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,169},{11,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,8}</string>
			</dict>
			<key>pngdata/colorslm/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,433},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>pngdata/colorslm/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,583},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,23}</string>
			</dict>
			<key>pngdata/colorslm/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,631},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>pngdata/colorslm/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,520},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,548},{105,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,169}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,642},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,652},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,618},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,624},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,606},{18,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,13}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,643},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,635},{10,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,686},{133,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,389},{157,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,188}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1},{271,192}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,223}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,536},{15,10}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,222},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,7}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,481},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,606},{5,4}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,437},{6,7}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1},{235,173}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,175}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,509},{25,10}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,14}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,631},{13,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,488},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,631},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,495},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,641},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,529},{24,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,21}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,193},{7,8}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,10}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,213},{7,7}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,9}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,471},{8,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,6}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,562},{20,25}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,242},{10,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,5}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,182},{7,9}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,630},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,203},{7,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,622},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,242},{147,81}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,81}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,579},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,511},{13,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,16}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,576},{20,16}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,18}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,851},{197,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,120}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,358},{312,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,105}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,662},{265,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,127}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,433},{49,15}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,18}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,455},{6,6}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,622},{12,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,463},{6,6}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,627},{12,11}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,537},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,555},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,20}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,598},{18,16}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,638},{105,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,169}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,652},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,653},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,628},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,627},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,618},{18,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,13}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,642},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,635},{10,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,548},{133,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,527},{157,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,188}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,195},{271,192}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,223}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,619},{15,10}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,232},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,7}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,502},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,612},{5,4}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,446},{6,7}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,157},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,12}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,553},{15,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,610},{15,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,21}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,505},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,471},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,484},{25,14}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,15}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,589},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1},{76,3}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,3}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,463},{192,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,129}</string>
			</dict>
			<key>pngdata/gameplayeffect7/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,601},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>pngdata/gameplayeffect7/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,79},{76,3}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,3}</string>
			</dict>
			<key>pngdata/gameplayeffect7/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,657},{192,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,129}</string>
			</dict>
			<key>effect/collect/collect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,358},{180,167}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,463},{180,168}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/hammer/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,808},{108,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,781},{108,112}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,891},{108,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,897},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,883},{104,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,929},{104,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist5.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist5.png</string>
			<key>size</key>
			<string>{1024,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>