<div class="m_footer">
	<div class="top">
		<span class="icon iconfont icon-youxi"></span> Game
	</div>
	<div class="middle">
		Notice:the content is provided by the content developer . If there are any objections, please give us the original proof and we will remove it after verification. 
	</div>
</div>

<style type="text/css">
	.m_footer{
		padding:12px 0 0;
	}
	.m_footer .top{
		font-size:13px;
		text-align: center;
	}
	.m_footer .middle{
		color: #999;
		line-height: 13px;
		font-size: 12px;
		text-align: center;
		padding:6px 5px 20px;
	}
</style>