<div class="m_game_simelar">
	<h3>Similar games</h3>
	 <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tangguohuaxing/icon90.jpg"/>
                    <div class="item_bottem"> Save Santa !</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tangguohuaxing/icon90.jpg"/>
                    <div class="item_bottem"> Save Santa !</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tangguohuaxing/icon90.jpg"/>
                    <div class="item_bottem"> Save Santa !</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tangguohuaxing/icon90.jpg"/>
                    <div class="item_bottem"> Save Santa !</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tangguohuaxing/icon90.jpg"/>
                    <div class="item_bottem"> Save Santa !</div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void(0);">
                    <img src="http://h5res.appskyx.com/allgame/ICON/tangguohuaxing/icon90.jpg"/>
                    <div class="item_bottem"> Save Santa !</div>
                </a>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
	.m_game_simelar{
		border:1px solid #ccc;
		border-radius:5px;
		margin:10px 5px;
		padding: 10px 5px;
		color:#333;
	}
	.m_game_simelar h3{
		
	}
	.m_game_simelar .swiper-container{
		padding:10px 0;
	}
	.m_game_simelar .swiper-container .swiper-slide a{
		display: block;
	}
	.m_game_simelar .swiper-container .swiper-slide a img{
		display: block;
        width:50px;
        margin:0 auto;
        border-radius: 50%;
	}
	.m_game_simelar .swiper-container .swiper-slide a .item_bottem {
        font-size: 12px;
        line-height: 0.5rem;
		height: 0.64rem;
		color:#333;
		margin: 10px 0 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
	var swiper1 = new Swiper('.m_game_simelar .swiper-container',{
		autoplay: false,
        slidesPerView: 4,
//      spaceBetween: 5
    });
</script>