<div class="m_list_header">
	<span class="back icon iconfont icon-fanhui"></span>
	<span class="content">FA Game</span>
	<span class="share icon iconfont icon-fenxiang"></span>
</div>
<style type="text/css">
	.m_list_header{
		text-align: center;
		padding: 10px;
		font-size:0.5rem;
		color:#333333;
		position: relative;
	}
	.m_list_header .back{
		width:20px;
		font-size: 20px;
		left:10px;
	}
	.m_list_header .icon{
		position: absolute;
	}
	.m_list_header .share{
		right: 10px;
		width:20px;
		font-size: 20px;
		text-align: right;
	}
</style>
<script type="text/javascript">
	
</script>