<div class="mGame3Ad">
    <div class="title">Advertisement</div>
    <div class="ad">
        <img style="width:100%;display: block;" src="./img/ad.png" alt="" />
    </div>
</div>
<style>
    .mGame3Ad {
        text-align: center;
        position: relative;
        z-index: 10;
        padding: 0 0 0.267rem;
        margin: 0 30px;
    }

    .mGame3Ad .title {
        text-align: center;
        color: #666;
        font-size: 0.32rem;
        padding: 2px 0;
    }

    .mGame3Ad .ad {
        border: 1px solid #b0b0b0;
    }
</style>