<div class="mGame3Header">
    <a class="home" href="#">
        <img src="./img/home.png" />
    </a>
    Hsyjre super cool
    <a class="link" id="copeUrl" data-clipboard-text="http://www.baidu.com">
        <img src="./img/fenxiang2.png">
    </a>
    <style>
        .mGame3Header {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            width: 100%;
            text-align: center;
            font-size: 16px;
            z-index: 11;
            height: 60px;
            line-height: 40px;
            color: #fff;
            background: linear-gradient(rgba(44, 44, 44, 0.78), rgba(44, 44, 44, 0)) transparent;
        }

        .mGame3Header .home {
            position: absolute;
            left: 15px;
            top: 5px;
        }

        .mGame3Header .home img {
            width: 20px;
        }

        .mGame3Header .link {
            position: absolute;
            right: 15px;
            top: 5px;
        }

        .mGame3Header .link img {
            width: 20px;
        }

        .pc .mGame3Header {
            width: 640px;
        }
    </style>
    <script language="javascript">
        var copeUrl = document.getElementById('copeUrl');
        var clipboard = new Clipboard(copeUrl);

        clipboard.on('success', function (e) {
            alert("复制成功！");
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    </script>