<div class="mGame3Similar">
    <div class="title">similar game</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a class="swiper-slide" href="javascript:void(0);">
                <div class="game_info">
                    <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/motoxmwinter/icon160.jpg">
                    <div class="info">
                        <h6>Very good</h6>
                        <div class="score">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                        </div>
                        <div class="play">
                            69565 plays
                        </div>
                    </div>
                </div>
                <div class="description">
                    Welcome to the winter special of this awesome bike stunt game Moto XM Winter Drive your twowheeler
                    through challenging tracks full of deadly traps ramps explosives and obstacles and try to get to the
                    finish line alive Complete every level as fast as you can to earn stars which you can use to unlock
                    new riders Perform front or backflips for extra seconds and try to finish all levels with stars to
                    name yourself a professional XM rider Have fun with Moto XM Winter
                </div>
            </a>
            <a class="swiper-slide" href="javascript:void(0);">
                <div class="game_info">
                    <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/motoxmwinter/icon160.jpg">
                    <div class="info">
                        <h6>Very good</h6>
                        <div class="score">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                        </div>
                        <div class="play">
                            69565 plays
                        </div>
                    </div>
                </div>
                <div class="description">
                    Welcome to the winter special of this awesome bike stunt game Moto XM Winter Drive your twowheeler
                    through challenging tracks full of deadly traps ramps explosives and obstacles and try to get to the
                    finish line alive Complete every level as fast as you can to earn stars which you can use to unlock
                    new riders Perform front or backflips for extra seconds and try to finish all levels with stars to
                    name yourself a professional XM rider Have fun with Moto XM Winter
                </div>
            </a>
            <a class="swiper-slide" href="javascript:void(0);">
                <div class="game_info">
                    <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/motoxmwinter/icon160.jpg">
                    <div class="info">
                        <h6>Very good</h6>
                        <div class="score">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                            <img src="./img/star51.png">
                        </div>
                        <div class="play">
                            69565 plays
                        </div>
                    </div>
                </div>
                <div class="description">
                    Welcome to the winter special of this awesome bike stunt game Moto XM Winter Drive your twowheeler
                    through challenging tracks full of deadly traps ramps explosives and obstacles and try to get to the
                    finish line alive Complete every level as fast as you can to earn stars which you can use to unlock
                    new riders Perform front or backflips for extra seconds and try to finish all levels with stars to
                    name yourself a professional XM rider Have fun with Moto XM Winter
                </div>
        </div>
    </div>
</div>
</div>
<style>
    .mGame3Similar {
        margin-top: 1.067rem;
    }

    .mGame3Similar .title {
        font-size: 0.427rem;
        margin: 0.267rem 0.8rem;
        color: #fff;
        font-family: SourceHanSansSC;
    }

    .mGame3Similar .swiper-wrapper {
        margin-left: -1.013rem;
    }

    .mGame3Similar .swiper-wrapper .swiper-slide {
        padding: 0.533rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.267rem;
    }

    .mGame3Similar .swiper-wrapper .game_info {
        display: flex;
    }

    .mGame3Similar .swiper-wrapper .icon {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 0.267rem;
    }

    .mGame3Similar .swiper-wrapper .info {
        flex: 1;
        margin-left: 0.4rem;
    }

    .mGame3Similar .swiper-wrapper .info h6 {
        color: rgb(16, 16, 16);
        font-size: 0.373rem;
    }

    .mGame3Similar .swiper-wrapper .score {
        margin: 0.107rem 0 0.053rem;
    }

    .mGame3Similar .swiper-wrapper .score img {
        width: 0.267rem;
        margin-right: -0.053rem;
    }

    .mGame3Similar .swiper-wrapper .play {
        color: #fdaa31;
    }

    .mGame3Similar .swiper-wrapper .description {
        margin-top: 0.267rem;
        font-size: 0.347rem;
        text-shadow: 0 0 0.267rem fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #fff;
        font-family: SourceHanSansSC;
    }
</style>
<script>
    var mGame3SimilarSwiper = new Swiper('.mGame3Similar .swiper-container', {
        slidesPerView: 1.5,
        spaceBetween: 30,
        centeredSlides: true,
    });
</script>