<div class="mIndexRecommendedDaily">
    <a href="">
        <img class="banner_img" src="./img/v2_pw6ftl.jpg">
    </a>

    <div class="title">
        <img src="./img/arcade.png">
        <p>
            Recommended Daily
        </p>
    </div>

</div>
<style>
    .mIndexRecommendedDaily {
        position: relative;
        height: 8rem;
        overflow: hidden;
        margin-top: 0.267rem;
        color: rgb(16, 16, 16);
        font-family: SourceHanSansSC;
    }

    .mIndexRecommendedDaily .banner_img {
        display: block;
        width: 100%;
    }

    .mIndexRecommendedDaily .title {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.267rem 0.133rem 0.4rem;
        color: #fff;
        background: linear-gradient(rgba(44, 44, 44, 0.5), rgba(44, 44, 44, 0));
    }

    .mIndexRecommendedDaily .title img {
        vertical-align: middle;
        width: 0.8rem;
    }

    .mIndexRecommendedDaily .title p {
        flex: 1;
        padding-left: 0.133rem;
        font-size: 0.427rem;
    }
</style>