<div  class="m_cell">
	<div class="header">
		<span class="icon iconfont icon-dianshi"></span>
		<span class="text">New</span>
		<a class="allbtn icon iconfont icon-more" href="javascript:void(0);"></a>
	</div>
	<ul class="list clear">
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2018110809553468531.png" alt="" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2018110809563244330.png" alt="" />
				<p class="img_title">Fruit Ninja</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2019031113252965194.jpg" alt="" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2018110809553468531.png" alt="" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2019013003530616929.png" alt="" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2019030513595757222.jpeg" alt="" />
				<p class="img_title">Tomb Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2019030514003912405.png" alt="" />
				<p class="img_title">Tomb Runner Runner</p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img src="//game.jkfa.xyz/images/2019011812361131436.jpg" alt="" />
				<p class="img_title">Tomb </p>
				<span class="img_text"><i class="play">95682</i> plays</span>
			</a>
		</li>
	</ul>
</div>

<style type="text/css">
	.m_cell{
		padding:10px 0; 
	}
	.m_cell .list{
		margin:0 2px;
	}
	.m_cell .list li{
		float: left;
		color:rgba(71,74,79,.87);
		font-size: 12px;
		width:25%;
		/*padding:0 5px;*/
		text-align: center;
		margin-top:10px;
	}
	.m_cell .list li a{
		display: block;
		border: 1px solid #ccc;
	    padding: 2px 2px 5px 2px;
	    border-radius: 5px;
	    margin:0 3px 0 3px;
	}
	.m_cell .list li:nth-of-type(2n+1) a{
		/*margin:0 2px 0 2px;*/
	}
	.m_cell .list li:nth-of-type(2n) a{
		
	}
	.m_cell .list li img{
		width:100%;
		/*height:60px;*/
		border-radius: 5px;
	}
	.m_cell .list li p{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.m_cell .list li .img_text {
		color: #9d9d9d;
		display: none;
	}
	.m_cell .list li .img_text .play{
		color: #F99D00;
	}
</style>