<div class="m_gameRecommend bg_1">
	<div class="game_header">
		<span class="text">New</span>
	</div>
	<ul class="list clear">
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2018110809553468531.png" src="//game.jkfa.xyz/images/2018110809553468531.png" style="">
				<p class="img_title">Tomb Runner Tomb Runner Tomb Runner</p>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2018110809563244330.png" src="//game.jkfa.xyz/images/2018110809563244330.png" style="">
				<p class="img_title">Fruit Ninja</p>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2019031113252965194.jpg" src="//game.jkfa.xyz/images/2019031113252965194.jpg" style="">
				<p class="img_title">Tomb Runner</p>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				<img class="lazy" alt="" data-original="//game.jkfa.xyz/images/2018110809553468531.png" src="//game.jkfa.xyz/images/2018110809553468531.png" style="">
				<p class="img_title">Tomb Runner</p>
			</a>
		</li>
	</ul>
</div>
<script>
	
</script>
<style type="text/css">
	.m_gameRecommend .game_header{
		margin:0 5px;
		font-size:0.4375rem;
	}
	.m_gameRecommend .list li{
		float: left;
		color:rgba(71,74,79,.87);
		font-size: 0.32rem;
		width:25%;
		/*padding:0 0.15625rem;*/
		text-align: center;
		margin-top:0.2rem;
	}
	.m_gameRecommend .list li a{
		display: block;
	    padding: 0.0625rem 0.0625rem 0.15625rem 0.0625rem;
	    border-radius: 0.15625rem;
	    margin:0 0.0625rem 0 0.0625rem;
	    height:3.8rem;
	}
	.m_gameRecommend .list li:nth-of-type(2n+1) a{
		/*margin:0 0.0625rem 0 0.0625rem;*/
	}
	.m_gameRecommend .list li:nth-of-type(2n) a{
		
	}
	.m_gameRecommend .list li img{
		width:83%;
		border-radius: 0.3125rem;
	}
	.m_gameRecommend .list li p{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
</style>