<div class="m_header">
	FA Game
	<img class="share" src="./img/fenxiang.png">
</div>
<style type="text/css">
	.m_header{
		text-align: center;
		padding: 10px;
		font-size:0.427rem;
		color:#333333;
		position: relative;
	}
	
	.m_header .share{
		position: absolute;
	    right: 0.3125rem;
	    width: 0.625rem;
	    font-size: 0.625rem;
	}
</style>
<script type="text/javascript">
	$(".share").on("click",function(){
		
	});
//	$('.m_header').css({"height":'15px'});
//	$('.m_header').css({"line-height":'15px'});
//	$('.m_header').css({'border':"none"});
//	
//	
//	$(".title-bar").css({'height':"25px"});
//	$(".title-bar .main_menu").css({'border':"none"});
//	$(".title-bar h1").css({'line-height':"25px"});
</script>