<div class="mIndexRecommendCell">
    <h3>Recommend for you</h3>
    <div class="game_list clear">
        <div class="item">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">1Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </div>
        <div class="item">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">2Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </div>
        <div class="item">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">3Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </div>
        <div class="item">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">4Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </div>
    </div>
</div>
<style>
    .mIndexRecommendCell {
        background: #fff;
        padding: 10px 20px;
    }

    .mIndexRecommendCell h3 {
        font-size: 16px;
        font-weight: 700;
        color: #545454;
        margin-bottom: 5px;
    }

    .game_list {
        padding: 10px 5px 0;
    }

    .game_list .item {
        float: left;
        width: 47%;
        color: #fff;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 7px;
    }

    .game_list .item:nth-of-type(2n) {
        margin-right: 0;
        float: right;
    }

    .game_list .item:nth-of-type(5n+1) {
        background: rgb(198, 143, 65);
    }

    .game_list .item:nth-of-type(5n+2) {
        background: rgb(115, 103, 86);
    }

    .game_list .item:nth-of-type(5n+3) {
        background: rgb(90, 151, 210);
    }

    .game_list .item:nth-of-type(5n+4) {
        background: rgb(79, 103, 128);
    }

    .game_list .item:nth-of-type(5n) {
        background: rgb(98, 79, 217);
    }

    .game_list .item .game {
        position: relative;
        font-size: 12px;
        padding: 5px;
    }

    .game_list .item .name {
        font-size: 15px;
        opacity: 0.8;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .game_list .item .player {
        opacity: 0.8;
    }

    .game_list .item .game img {
        width: 20px;
        position: absolute;
        right: 8px;
        top: 13px;

    }

    .game_list .banner {
        width: 100%;
        display: block;
    }
</style>