<div class="mIndexFavoriteHobby">
    <h3>Game area</h3>
    <p class="subtitle">Find your favorite hobby</p>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/shuishangjiuyuan/iconbannersm.jpg">
                <div class="bottom">
                    <span class="name">SIX</span>
                    <span class="star_box">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                    </span>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
                <div class="bottom">
                    <span class="name">SIX</span>
                    <span class="star_box">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                    </span>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
                <div class="bottom">
                    <span class="name">SIX</span>
                    <span class="star_box">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                        <img src="./img/star3.png">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .mIndexFavoriteHobby {
        font-size: 13px;
        color: #666;
        background: #fff;
        padding: 0 0 10px;
    }

    .mIndexFavoriteHobby h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 0 15px;
        font-family: SourceHanSansSC;
    }

    .mIndexFavoriteHobby .subtitle {
        margin: 0 0 0 15px;
    }

    .mIndexFavoriteHobby .swiper-container {
        padding: 12px 0 0 15px;
    }

    .mIndexFavoriteHobby .swiper-container .swiper-slide {
        position: relative;
    }

    .mIndexFavoriteHobby .swiper-container .banner {
        width: 100%;
        display: block;
        border-radius: 8px;
    }

    .mIndexFavoriteHobby .swiper-container .bottom {
        color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        font-size: 12px;
        background: rgba(94, 89, 89, 0.6);
        line-height: 20px;
        padding: 0 10px;
        border-radius: 0 0 8px 8px;
    }

    .mIndexFavoriteHobby .swiper-container .bottom .star_box {
        float: right;
    }

    .mIndexFavoriteHobby .swiper-container .bottom .name {
        width: 135px;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .mIndexFavoriteHobby .swiper-container .bottom .star_box img {
        width: 12px;
        margin-right: -2px;
    }
</style>
<script>
    var swiperMIndexFavoriteHobby = new Swiper('.mIndexFavoriteHobby .swiper-container', {
        slidesPerView: 1.5,
        spaceBetween: 15,
    });
</script>