<div class="mIndexRecommendType">
    <img class="bg" src="http://h5res.appskyx.com/allgame/ICON/xsaiche/iconbanner.jpg">
    <h3 class="title">RACING</h3>
    <p class="subtitle">Fast & Furious</p>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/bxsc/icon160.jpg">
                <p class="name">
                    Moto good Moto good Moto good
                </p>
            </div>
            <div class="swiper-slide">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </div>
            <div class="swiper-slide">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </div>
            <div class="swiper-slide">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </div>
            <div class="swiper-slide">
                <img class="icon" src="http://h5res.appskyx.com/allgame/ICON/wujindekache/icon160.jpg">
                <p class="name">
                    Moto good
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .mIndexRecommendType {
        color: #fff;
        position: relative;
        font-size: 14px;
        padding: 10px 0;
        height: 200px;
        box-sizing: border-box;
    }

    .mIndexRecommendType .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.3;
        z-index: -1;
    }

    .mIndexRecommendType .title {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 0 30px;
    }

    .mIndexRecommendType .subtitle {
        font-size: 16px;
        margin: 0 0 0 30px;
    }

    .mIndexRecommendType .swiper-container {
        /* padding: 10px 0 0 100px; */
        position: absolute;
        width: 100%;
        bottom: 10px;
        padding-left: 100px;
        color: #666;

    }

    .mIndexRecommendType .swiper-container {
        text-align: center;
        color: #444;
    }

    .mIndexRecommendType .swiper-container .icon {
        width: 76px;
        border-radius: 10px;
        border: 2px solid #fff;
    }

    .mIndexRecommendType .swiper-container .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<script>
    var swiperMIndexRecommendType = new Swiper('.mIndexRecommendType .swiper-container', {
        slidesPerView: 3,
    });
</script>