<div class="mIndexAd2">
    <div class="title">ADVERTISEMENT</div>
    <div class="ad">
        <img style="width:100%;display: block;" src="./img/ad.png" alt="" />
    </div>
</div>
<style type="text/css">
    .mIndexAd2 {
        text-align: center;
        position: relative;
        z-index: 10;
        padding: 0 0 0.267rem;
        margin: 0 0.8rem;
    }

    .mIndexAd2 .title {
        text-align: center;
        color: #666;
        font-size: 0.32rem;
        padding: 0.053rem 0;
    }

    .mIndexAd2 .ad {
        border: 1px solid #b0b0b0;
    }
</style>