<div class="mIndexRecommendCell">
    <h3>Recommend for you</h3>
    <div class="game_list clear">
        <a class="item" href="javascript:void(0)">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">1Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </a>
        <a class="item" href="javascript:void(0)">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">2Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </a>
        <a class="item" href="javascript:void(0)">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">3Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </a>
        <a class="item" href="javascript:void(0)">
            <img class="banner" src="http://h5res.appskyx.com/allgame/ICON/wanmeisaiche/iconbanner.jpg">
            <div class="game">
                <p class="name">4Baseball hero</p>
                <p class="player">5848 plays</p>
                <img src="./img/star-circle.png" alt="">
            </div>
        </a>
    </div>
</div>
<style>
    .mIndexRecommendCell {
        background: #fff;
        padding: 0.267rem 0.533rem;
    }

    .mIndexRecommendCell h3 {
        font-size: 0.427rem;
        font-weight: 700;
        color: #545454;
        margin-bottom: 0.133rem;
    }

    .game_list {
        padding: 0.267rem 0.133rem 0;
    }

    .game_list .item {
        float: left;
        width: 48.5%;
        color: #fff;
        border-radius: 0.213rem;
        overflow: hidden;
        margin-bottom: 0.213rem;
    }

    .game_list .item:nth-of-type(2n) {
        margin-right: 0;
        float: right;
    }

    .game_list .item:nth-of-type(5n+1) {
        background: rgb(198, 143, 65);
    }

    .game_list .item:nth-of-type(5n+2) {
        background: rgb(115, 103, 86);
    }

    .game_list .item:nth-of-type(5n+3) {
        background: rgb(90, 151, 210);
    }

    .game_list .item:nth-of-type(5n+4) {
        background: rgb(79, 103, 128);
    }

    .game_list .item:nth-of-type(5n) {
        background: rgb(98, 79, 217);
    }

    .game_list .item .game {
        position: relative;
        font-size: 0.32rem;
        padding: 0.133rem;
    }

    .game_list .item .name {
        font-size: 0.4rem;
        opacity: 0.8;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .game_list .item .player {
        opacity: 0.8;
    }

    .game_list .item .game img {
        width: 0.533rem;
        position: absolute;
        right: 0.213rem;
        top: 0.347rem;

    }

    .game_list .banner {
        width: 100%;
        display: block;
    }
</style>

<script>
    // function sendAsk() {
    //     var lis = $('.mIndexRecommendCell .game_list').find(".item");
    //     //swHeight=滚动的高度+窗体的高度；当li的offset高度<=swHeight,那么说明当前li显示在可视区域了
    //     var swHeight = $('body').scrollTop() + $(window).height();
    //     var sch = $('body').scrollTop();
    //     // console.log(111)
    //     $.each(lis, function (index, item) {
    //         mTop = item.offsetTop;
    //         // console.log("item", item)
    //         // console.log("mTop", index, mTop);
    //         // console.log("swHeight", index, swHeight);
    //         // console.log("sch", index, sch);
    //         if (mTop < swHeight && mTop > sch) {

    //             $(this).addClass("m_show");
    //         } else {
    //             $(this).removeClass("m_show");
    //         }
    //     });
    // }
    // sendAsk();
    // $('body').on("scroll", function () {
    //     console.log(11)
    //     sendAsk();
    // });
</script>